footer{
	background-color:$dark-grey;
}
.footer{
	color: white;
	padding:0 50px;
    padding-top: 50px;
	font-style: italic;
	overflow:hidden;
	position:relative;
	bottom:0;
	background-color:$dark-grey;
	max-width:unset;
	padding-bottom:50px;
	max-width:1280px;
}
.footer__section{
	&:first-child {
		border-right:1px solid black;
		h4{
		    color: $blue;
			border-bottom:1px solid $blue;
		}
		a{
			color:white !important;
			padding:5px 0;
		}
	}
	&:last-child h4{
	    color: $orange;		
		border-bottom:1px solid $orange;
	}
	&:nth-child(3) h4{
		border-bottom:1px solid $orange;
	}
	&:nth-child(4) h4{
		border-bottom:1px solid $blue;
	}
	h4{
	    font-family: $main-font;
	    font-style: italic;
	    display: inline-block;
	}
    ul{
    	list-style: none;
    	margin:0;
    	li{
    		ul{
    			margin-left:32px;
	    		a{
	    			padding:0;
	    		}
    		}
    		&.menu-open ul a:hover{
    			color:$blue !important;
    		}
    	}
    }
    p{
    	margin:0;
    }
}
.footer__content{
	margin-top: 25px;
	.trademark{
		margin-top:50px;
	}
}
p.email{
	text-decoration:underline;
	margin-top:10px;
}
.social{
	margin-top:50px;
	.fa{
		margin:0;
		font-size: 17px;
		color:white;
	}
	.fa-pinterest-square{
		background-color: rgb(189, 8, 28);
		padding: 4px;	
	}
	.fa-facebook{
		background-color:#0f0e9f;
	    padding: 4px 8px;
	    margin-left: 0px;
	}
	.fa-linkedin-square{
		background-color:#0077B5;
		padding: 4px 6px;	
	    margin-left: 0px;
	}
	.fa-instagram{
		background-color:#f6b220;
		padding: 4px 6px;	
	    margin-left: 0px;
	}
}
@include breakpoint(medium down){
	.footer{
		&__mobile{
			border:none;			
			text-align: center;
			margin-top: 50px;
			h4{
				font-size:35px;
			}	
			li{
				font-size: 20px;
				padding:10px 0;
				border-bottom: 1px solid grey;
				a{
					color:white;
				}
			}
		}
		&__section:nth-child(2) h4{
			color:$blue;
			border-bottom:1px solid $blue;
		}
		&__content{
		    font-size: 18px;
		}
	}
	.hide-for-large{
		margin-top:0;
	}
	.social{
		// @include clearfix;
		.fa{
			font-size: 27px;
		}
		text-align:center;
		a{
			// float:left;
			display: inline-block;
		}
	}
}
