.not_active{
  display:none!important;
}
.is-open{
  display:block!important;
}
.menu-open{
  ul{
    display: block !important;
    a{
      color:grey!important;
      &:hover{
        color:black!important;
      }
    }
  }
  a{
    color:black!important;
  }
}
.page_title{
  float:left;
}
.main-menu{
  list-style:none;
  display:inline-block;
  border-bottom:1px solid black;
  position: relative;
    margin-top: -9px;
    min-width: 600px;
  .dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
      font-size: 14px;
    li{
      margin: 0px;
      padding: 0px;
      // margin-left: -15px;
    }
  }
  .dropdown>li>a:hover,.dropdown>li>a:active{
  }

  .menu-item-has-children{
    ul{
      @include clearfix;
      // border:1px solid red;
      padding-top:5px;
    }
    li{
      float:left;
      // border:1px solid yellowgreen;
      a{
        font-size: 16px;
        font-family: $second-font;
        padding: 5px 59px;
        padding-left:0;
      }
      &:last-child a{
          padding-right:0;
        }
    }
  }
}
#logo{
  width:276px;
}
#menu-item-28{
  margin-left:0;
}
.main-menu{

.menu-item{
  display: inline-block;
    margin-left: 14px;
    // margin-top: 10px;
    font-family: "$main-font";
    font-style: italic;
    font-size: 18px;
    margin-left: 36px;
    letter-spacing: 1px;
    &:first-child{
      margin-left: 0;
      a{
        padding-left:0;
      }
    }
    a{
      color: grey;
      &:active,&:hover{
        color:black;
      }
    }
  .dropdown a{
    color: grey;
  }
}
}
.fa{
  color:black;
  font-size:35px;
  padding:10px 0;
}
.header{
    // padding-right: 0;
    position: fixed;
    padding: 22px 80px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: white;
    @include clearfix;
    // padding-left: 0;
    // padding-right: 0;
    .row{
      max-width: 1120px;
      margin: 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      // padding: 0 40px;
    }
    &__menu{
      float: right;
      // margin-top: -5px;
      span{
      }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1160px) {
  .header{
    padding:22px 12px;
  }
}

.nav-icon1{ 
  padding: 0;
  width: 30px;
  height: 20px;
  position: relative;
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: 30px;

}
.nav-icon1 span{
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
}
.nav-icon1 span:nth-child(1) {
  top: 0px;
}

.nav-icon1 span:nth-child(2) {
  top: 10px;
}

.nav-icon1 span:nth-child(3) {
  top: 20px;
}
.nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@include breakpoint(medium down){

  .header{
    width:100vw;
    padding: 20px;
    padding-bottom:0;
    &__menu_mobile{
      // float:left;
      @include clearfix;
      position: relative;
    }
    .row{
      width:100vw;
      a{
          text-align: center;
          display: block;
      }
    }
    &__top{
      position:relative;
      padding-bottom:20px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.29);
      box-shadow: 0 4px 6px rgba(136,136,136,0.26);
    }
  }
  .main_menu_mobile{
    list-style: none;
    position: fixed;
    z-index: 101;
    background-color: white;
    width: 100vw;
    margin: 0;
    margin-top: 2px;
    left:0;
    overflow: visible;
    height: 100vh;
    transform:translateX(-100%);
    transition: transform 0.5s ease-in-out;
      li>a{
        color:grey;
        border-bottom:1px solid rgba(128, 128, 128, 0.15);
        padding: 10px;
      }
      li:hover{
        a{
          color:black;
        }
      }
    &--open{
    transform:translateX(0%);
    }
  }
  @include clearfix;
  .logo_link{
    max-width: 70%;
    float: right;
    margin-right: 5%;
  }
  .nav-icon1{
    position:absolute;
    margin: 0px 7%;
    top: 35%;
    transform: translateY(-50%);
    &:hover{
      span{
        cursor: pointer;
      }
    }
  }
  .page_title{
    // margin: 12px 67px;
    text-align: center;
    float: none;
  }

}