.page-template-page-templates *:focus {
  outline-color: white;
}

.page-template-page-templates .intro {
  text-align: center;
  background-color: #f7f7f7;
}
.page-template-page-templates .intro__thumbnail {
  padding-top: 30%;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-template-page-templates .intro__body {
  margin-top: 30px;
  text-align: center;
}
.page-template-page-templates .intro__title {
  font-family: STIXGeneral;
  color: #565656;
  font-weight: bold;
}
.page-template-page-templates .intro__title:after {
  content: '';
  border-top: 4px solid #565656;
  padding: 10px;
  display: block;
  width: 80px;
  margin: 0 auto;
}
.page-template-page-templates .intro__text {
  font-family: Myriad Pro;
  color: #565656;
  width: 666px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}
.page-template-page-templates .intro__values {
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-template-page-templates .value__title {
  margin-top: 20px;
  font-family: STIXGeneral;
  color: #565656;
  font-weight: bold;
}
.page-template-page-templates .value__title:after {
  content: '';
  border-top: 4px solid #565656;
  padding: 10px;
  display: block;
  width: 50px;
  margin: 0 auto;
}

.page-template-page-templates .value__icon {
  max-height: 70px;
}

.page-template-page-templates .value__text {
  font-family: Myriad Pro;
  color: #565656;
  width: 245px;
  display: inline-block;
}

.team {
  margin-top: 100px;
  text-align: center;
}
.team__title {
  font-family: STIXGeneral;
  color: #565656;
  font-weight: bold;
}
.team__title:after {
  content: '';
  border-top: 4px solid #565656;
  padding: 10px;
  display: block;
  width: 80px;
  margin: 0 auto;
}
.team__members {
  margin-top: 20px;
}

.member {
  padding: 0;
  position: relative;
  left: 0;
  -webkit-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
  z-index: 1;
}
.member:hover .member__tag {
  z-index: 1;
}
.member:hover .member__image {
  -webkit-filter: grayscale(0%);
}
.member__prev {
  font-size: 30px;
  color: #565656;
  position: absolute;
  left: -5%;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.member__next {
  font-size: 30px;
  color: #565656;
  position: absolute;
  right: -5%;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.member__image {
  padding-top: 120%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  z-index: 1;
  -webkit-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
  -webkit-transition: -webkit-filter 0.6s ease-in-out;
  transition: -webkit-filter 0.6s ease-in-out;
  transition: filter 0.6s ease-in-out;
  transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out;
  overflow: hidden;
}
.member__image--color {
  -webkit-filter: grayscale(0%);
  z-index: 6;
}
.member__info {
  background-color: #f7f7f7;
  color: #565656;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: z-index 1s ease-in-out;
  transition: z-index 1s ease-in-out;
  padding: 10px 30px 20px 30px;
}
.member__info--open {
  z-index: 3;
}
.member__bio {
  font-size: 14px;
  padding-bottom: 50px;
}
.member__tag {
  position: absolute;
  bottom: 0;
  font-family: STIXGeneral;
  font-weight: bold;
  color: white;
  text-align: left;
  z-index: -1;
  width: 100%;
  left: 20%;
  -webkit-transition: z-index 1s ease-in-out;
  transition: z-index 1s ease-in-out;
  display: inline-block;
  width: 70%;
  background: rgba(10, 10, 10, 0.44);
  padding-left: 10px;
  margin-bottom: 16px;
}
.member__tag--open {
  z-index: 1;
}
.member__name {
  margin-bottom: 0;
}
.member__title {
  margin-bottom: 0;
}
.member__channels {
  float: left;
  position: absolute;
  bottom: 15px;
}
.member__channels a {
  margin-right: 5px;
}
.member__channels .fa {
  font-size: 25px;
  color: #565656;
}

.activities {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  position: relative;
}
.activities__title {
  font-family: STIXGeneral;
  color: #565656;
  font-weight: bold;
}
.activities__title:after {
  content: '';
  border-top: 4px solid #565656;
  padding: 10px;
  display: block;
  width: 80px;
  margin: 0 auto;
}
.activities__thumbnail {
  padding-top: 75%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: none;
}
.activities .activity__title {
  font-weight: bold;
  font-family: STIXGeneral;
}
.activities .activity__content {
  position: absolute;
  top: 333px;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  left: 392px;
  padding-top: 25px;
  border: none;
}

.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  background-color: transparent;
}

.middle__title {
  font-family: STIXGeneral;
  font-weight: bold;
}
.middle__title:after {
  content: '';
  border-top: 4px solid black;
  left: -px;
  padding: 10px;
  display: block;
  width: 70px;
  margin: 0 auto;
}

.service {
  position: absolute;
  right: 295px;
  top: 158px;
  width: 137px;
  height: 137px;
  text-align: center;
  border-radius: 50%;
  padding: 1px;
  overflow: hidden;
}
.service h6 {
  margin-top: 61px;
  color: $light-grey; //here
  background-color: transparent;
}
.service span {
  position: absolute;
  top: 0;
  display: block;
  padding: 1.25rem 1.5rem;
  font-size: 0.75rem;
  line-height: 1;
  color: #4a5dc0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}
// .service a:hover {
//   color: #4a5dc0; }
.service svg {
  // fill: #4a5dc0; here
  fill: $light-grey;
  background-color: white;
  width: 76px;
  height: 88px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.service--open {
  top: 157px;
  width: 137px;
  height: 137px;
  right: 294px;
  // background-color: #4a5dc0; here
  background-color: $light-grey;
}
.service--open span {
  // background-color: #4a5dc0; here
  background-color: $urban;
}
.service--open svg {
  fill: white;
  // background-color: #4a5dc0; here
  background-color: $urban;
  width: 85%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.architecture {
  // position: absolute;
  // right: 491px;
  // top: 78px;
  // width: 135px;
  // height: 135px;
  // text-align: center;
  // border-radius: 50%;
  // padding: 19px;
  // padding-top: 37px;
}
.architecture h6 {
  // color: $urban;
  // margin-top: 16px;
  // font-size: 16px;
  // margin: 23px -13px 1px -18px;
}
.architecture a {
  // display: block;
  // padding: 1.25rem 1.5rem;
  // font-size: 0.75rem;
  // line-height: 1;
  // color: $urban;
  // border-radius: 50%;
  // width: 100%;
  // height: 100%;
}
.architecture a:hover {
  color: $urban;
}
.architecture svg {
  // fill: $urban;
  // width: 70px;
  // position: absolute;
  // top: 32%;
  // left: 50%;
  // -webkit-transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  // -webkit-transition: fill 0.5s ease-in-out;
  // transition: fill 0.5s ease-in-out;
  // -webkit-transition: width 0.5s ease-in-out;
  // transition: width 0.5s ease-in-out;
}
.architecture--open {
  background-color: $urban;
}
.architecture--open svg {
  // fill: white;
  // background: $urban;
  // width: 71%;
  // border: 10px solid $urban;
  // height: 72%;
  // top: 49%;
  // left: 50%;
  // -webkit-transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  // -webkit-transition: fill 0.5s ease-in-out;
  // transition: fill 0.5s ease-in-out;
  // -webkit-transition: width 0.5s ease-in-out;
  // transition: width 0.5s ease-in-out;
}

.branding {
  // position: absolute;
  // left: 296px;
  // top: 157px;
  // width: 137px;
  // height: 137px;
  // text-align: center;
  // border-radius: 50%;
  position: absolute;
  right: 213px;
  bottom: 350px;
  width: 135px;
  height: 135px;
  text-align: center;
  border-radius: 50%;
}
.branding h6 {
  font-size: 15px;
  margin: 0;
  margin-top: 72px;
}
.branding span {
  display: block;
  line-height: 1;
  color: $light-grey;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
}
// .branding a:hover {
//   color: $light-grey;
// }
.branding svg {
  fill: $light-grey;
  background-color: white;
  width: 70px;
  border-radius: 50%;
  position: absolute;
  top: 28%;
  left: 50%;
  height: 71px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.branding--open {
  background-color: $urban;
}
.branding--open span {
  background-color: $urban;
}
.branding--open svg {
  fill: white;
  background: $urban;
  width: 96%;
  border: 10px solid $urban;
  height: 102%;
  top: 68px;
  left: 68px;
}

.landscape {
  position: absolute;
  left: 215px;
  top: 356px;
  width: 135px;
  height: 135px;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  padding-top: 80px;
  overflow: hidden;
}
.landscape span {
  display: block;
  line-height: 1;
  color: $light-grey;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
}
// .landscape a:hover {
//   color: $light-grey;
// }
.landscape svg {
  fill: $light-grey;
  background: white;
  width: 77px;
  height: 75px;
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.landscape--open {
  left: 214px;
  top: 355px;
  width: 137px;
  height: 137px;
}
.landscape--open span {
  background-color: $urban;
}
.landscape--open svg {
  fill: white;
  background: $urban;
  border-radius: 50%;
  width: 102%;
  border: 10px solid $urban;
  height: 102%;
  top: 68px;
  left: 68px;
}

.strategic {
  // position: absolute;
  // left: 297px;
  // bottom: 153px;
  // width: 135px;
  // height: 135px;
  // text-align: center;
  // border-radius: 50%;
  position: absolute;
  right: 490px;
  bottom: 71px;
  width: 135px;
  height: 135px;
  text-align: center;
  border-radius: 50%;
}
.strategic a {
  display: block;
  line-height: 1;
  color: $urban !important;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
  h6 {
    font-size: 16px;
    width: 100px;
    margin-left: 15px;
    margin-top: 79px;
  }
}
.strategic a:hover {
  background-color: transparent;
  color: $urban;
}
.strategic svg {
  fill: $urban;
  background-color: white;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.strategic h6 {
  margin-top: 81px;
}
.strategic--open {
  // left: 295px;
  width: 137px;
  height: 137px;
}
.strategic--open a {
  background-color: $urban;
}
.strategic--open svg {
  fill: white;
  background: $urban;
  width: 102%;
  border: 10px solid $urban;
  height: 101%;
  top: 68px;
  left: 68px;
}

.projectMan {
  // position: absolute;
  // right: 490px;
  // bottom: 71px;
  // width: 135px;
  // height: 135px;
  // text-align: center;
  // border-radius: 50%;
  position: absolute;
  right: 292px;
  bottom: 151px;
  width: 135px;
  height: 135px;
  text-align: center;
  border-radius: 50%;
}
.projectMan a {
  display: block;
  line-height: 1;
  color: $urban !important;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
}
.projectMan a:hover {
  background-color: transparent;
  color: $urban;
}
.projectMan h6 {
  font-size: 15px;
  margin-top: 75px;
}
.projectMan svg {
  fill: $urban;
  width: 70px;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.projectMan--open {
  width: 137px;
  height: 137px;
  background-color: $urban;
}
.projectMan--open a {
  background-color: $urban;
}
.projectMan--open svg {
  fill: white;
  background: $urban;
  width: 102%;
  border: 10px solid $urban;
  height: 92%;
  top: 68px;
  left: 68px;
}

.product {
  // position: absolute;
  // right: 292px;
  // bottom: 151px;
  // width: 135px;
  // height: 135px;
  // text-align: center;
  // border-radius: 50%;
  position: absolute;
  left: 297px;
  bottom: 153px;
  width: 135px;
  height: 135px;
  text-align: center;
  border-radius: 50%;
}
.product span {
  display: block;
  line-height: 1;
  color: $light-grey;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
}
// .product a:hover {
//   background-color: transparent;
//   color: $light-grey;
// }
.product h6 {
  margin-top: 81px;
}
.product svg {
  fill: $light-grey;
  background: white;
  width: 77px;
  height: 88px;
  border-radius: 50%;
  position: absolute;
  top: 32%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.product--open {
  width: 137px;
  height: 137px;
}
.product--open span {
  background-color: $urban;
}
.product--open svg {
  fill: white;
  background: $urban;
  width: 102%;
  border: 10px solid $urban;
  height: 101%;
  top: 68px;
  left: 68px;
}

.urban {
  // position: absolute;
  // right: 213px;
  // bottom: 350px;
  // width: 135px;
  // height: 135px;
  // text-align: center;
  // border-radius: 50%;
  position: absolute;
  left: 296px;
  top: 157px;
  width: 137px;
  height: 137px;
  text-align: center;
  border-radius: 50%;
}
.urban span {
  display: block;
  line-height: 1;
  color: $light-grey;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
// .urban a:hover {
//   background-color: transparent;
//   color: $light-grey;
// }
.urban span h6 {
  margin-top: 92px;
}
.urban span h6:hover {
  color: $light-grey;
}
.urban svg {
  fill: $light-grey;
  background: white;
  width: 95px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.urban--open {
  width: 137px;
  height: 137px;
}
.urban--open span {
  background-color: $urban;
  width: 102%;
  height: 102%;
}
.urban--open svg {
  fill: white;
  background: $urban;
  width: 102%;
  border: 10px solid $urban;
  height: 101%;
  top: 68px;
  left: 68px;
}

#architecture_design {
  color: $urban;
}
#architecture_design .middle__title:after {
  border-top: 4px solid $urban;
}

#service_design {
  color: $urban;
}
#service_design .middle__title:after {
  border-top: 4px solid $urban;
}

#strategic_animation {
  color: $urban;
}
#strategic_animation .middle__title:after {
  border-top: 4px solid $urban;
}

#project___control_management {
  color: $urban;
}
#project___control_management .middle__title:after {
  border-top: 4px solid $urban;
}

#branding___visual_communication {
  color: $light-grey;
}
#branding___visual_communication .middle__title:after {
  border-top: 4px solid $light-grey;
}

#landscape_design {
  color: $light-grey;
}
#landscape_design .middle__title:after {
  border-top: 4px solid $light-grey;
}

#product_design {
  color: $light-grey;
}
#product_design .middle__title:after {
  border-top: 4px solid $light-grey;
}

#urban_design {
  color: $light-grey;
}
#urban_design .middle__title:after {
  border-top: 4px solid $light-grey;
}

@include breakpoint(medium down) {
  .intro {
    &__title {
      font-size: 35px;
    }
    &__text {
      max-width: 100%;
    }
  }
  .value {
    &:not(:first-child) {
      margin-top: 50px;
    }
    .value__title {
      font-size: 25px;
      &:after {
        margin-top: 10px;
      }
    }
  }
  .team {
    margin-top: 50px;
    box-shadow: 0 2px 6px rgba(136, 136, 136, 0.26);
    &__title {
      font-size: 35px;
    }
    &__members--mobile {
      .slick-arrow {
        // display: none!important;
      }
    }
    .member__prev {
      left: 5%;
      top: 25%;
      font-size: 25px;
    }
    .member__next {
      right: 5%;
      top: 25%;
      font-size: 25px;
    }
    .member--mobile {
      &__image {
        padding-top: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &__name {
        font-size: 25px;
        margin: 0;
      }
      &__title {
        font-size: 25px;
        margin: 0;
      }
      &__channels a {
        display: inline-block;
        margin-left: 15px;
        .fa {
          font-size: 25px;
        }
      }
    }
  }
  $smoke: rgba(138, 156, 171, 0.21);
  $turquoise: #8b0000;
  $green: #00d069;
  $dark-blue: #435b71;

  .activities--mobile {
    margin: 0 auto;
    margin-top: 50px;
    &__title {
      font-size: 35px;
    }
    .activities__list {
      .accordion-item {
        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: 1px solid $smoke;
        }
        text-align: left;
        border: none;
        border-top: 1px solid $smoke;
        .fa-angle-up {
          display: none;
        }
        .fa-angle-down {
          display: inline-block;
          position: absolute;
          right: 4%;
          top: 50%;
          transform: translateY(-50%);
          font-size: 33px;
          color: $turquoise;
        }
        &.is-active {
          .fa-angle-down {
            display: none;
          }
          .fa-angle-up {
            display: inline-block;
            position: absolute;
            right: 4%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 33px;
            color: $turquoise;
          }
        }
        .accordion-title {
          border: none;
          font-size: 20px;
          padding-right: 50px;
          color: $dark-blue;
          position: relative;
          display: flex;
          align-items: center;
          padding: 0;
          &:before {
            display: none;
          }
        }
        .accordion-content {
          color: $light-grey;
          border: none;
        }
        .svg_mobile {
          display: inline-block;
          width: 70px;
        }
        .activity__title {
          display: inline-block;
          margin-left: 35px;
          font-size: 20px;
        }
        .service--mobile {
          color: $service;
          fill: $service;
          .fa {
            color: $service;
          }
        }
        .architecture--mobile {
          color: $arch;
          fill: $arch;
          .fa {
            color: $arch;
          }
        }
        .branding--mobile {
          color: $branding;
          fill: $branding;
          .fa {
            color: $branding;
          }
        }
        .landscape--mobile {
          color: $landscape;
          fill: $landscape;
          .fa {
            color: $landscape;
          }
        }
        .strategic--mobile {
          color: $strategic;
          fill: $strategic;
          .fa {
            color: $strategic;
          }
        }
        .projectMan--mobile {
          color: $projectMan;
          fill: $projectMan;
          .fa {
            color: $projectMan;
          }
        }
        .product--mobile {
          color: $product;
          fill: $product;
          .fa {
            color: $product;
          }
        }
        .urban--mobile {
          color: $urban;
          fill: $urban;
          .fa {
            color: $urban;
          }
        }
      }
    }
  }
}
