@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@font-face {
    font-family: 'STIXGeneral-Bold'; /*a name to be used later*/
    src: url('../font/STIXGeneral-Bold.ttf'); /*URL to font*/
}
body{
    background-image: url("../img/background.jpg");
	.idia_container{
		height: 100vh;
		text-align:center;
		img{
			max-width: 90%;
			margin-top:150px;
			margin-left:50px;
			margin-right:50px;
			margin-bottom:35px;
		}
		h1{
			text-align:center;
			color: rgb(65, 60, 56);
			padding-top: 50px;
			font-size: 60px;
			font-family: 'STIXGeneral-Bold';
			font-weight: bold;
			letter-spacing: 30px;
			animation: bounceIn 5s;

		}
	}
}