
// .not_active {
//   display: none !important; }

// .is-open {
//   display: block !important; }

// .menu-open ul {
//   display: block !important; }
//   .menu-open ul a {
//     color: grey !important; }
//     .menu-open ul a:hover {
//       color: black !important; }

// .menu-open a {
//   color: black !important; }

// .page_title {
//   float: left; }

// .main-menu {
//   list-style: none;
//   display: inline-block;
//   border-bottom: 1px solid black;
//   position: relative;
//   margin-top: -9px;
//   min-width: 600px; }
//   .main-menu .dropdown {
//     display: none;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     font-size: 14px; }
//     .main-menu .dropdown li {
//       margin: 0px;
//       padding: 0px; }
//   .main-menu .menu-item-has-children ul {
//     padding-top: 5px; }
//     .main-menu .menu-item-has-children ul::before, .main-menu .menu-item-has-children ul::after {
//       display: table;
//       content: ' '; }
//     .main-menu .menu-item-has-children ul::after {
//       clear: both; }
//   .main-menu .menu-item-has-children li {
//     float: left; }
//     .main-menu .menu-item-has-children li a {
//       font-size: 14px;
//       font-family: Myriad Pro;
//       padding: 5px 18px;
//       padding-left: 0; }

// #logo {
//   width: 276px; }

// #menu-item-28 {
//   margin-left: 0; }

// .main-menu .menu-item {
//   display: inline-block;
//   margin-left: 14px;
//   font-family: "$main-font";
//   font-style: italic;
//   font-size: 18px;
//   margin-left: 36px;
//   letter-spacing: 1px; }
//   .main-menu .menu-item:first-child {
//     margin-left: 0; }
//     .main-menu .menu-item:first-child a {
//       padding-left: 0; }
//   .main-menu .menu-item a {
//     color: grey; }
//     .main-menu .menu-item a:active, .main-menu .menu-item a:hover {
//       color: black; }
//   .main-menu .menu-item .dropdown a {
//     color: grey; }

// .fa {
//   color: black;
//   font-size: 35px;
//   padding: 10px 0; }

// .header {
//   padding-right: 0;
//   position: fixed;
//   padding: 22px 80px;
//   width: 100%;
//   top: 0;
//   z-index: 100;
//   background-color: white;
//   padding-left: 0;
//   padding-right: 0; }
//   .header::before, .header::after {
//     display: table;
//     content: ' '; }
//   .header::after {
//     clear: both; }
//   .header .row {
//     max-width: 1120px;
//     margin: 0;
//     position: relative;
//     left: 50%;
//     -webkit-transform: translateX(-50%);
//         -ms-transform: translateX(-50%);
//             transform: translateX(-50%); }
//   .header__menu {
//     float: right; }

// #nav-icon1 {
//   padding: 0;
//   width: 30px;
//   height: 20px;
//   position: relative;
//   display: inline-block;
//   -webkit-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//       transform: rotate(0deg);
//   -webkit-transition: .5s ease-in-out;
//   transition: .5s ease-in-out;
//   cursor: pointer;
//   margin-left: 30px; }

// #nav-icon1 span {
//   display: block;
//   position: absolute;
//   height: 2px;
//   width: 100%;
//   background: black;
//   opacity: 1;
//   left: 0;
//   -webkit-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//       transform: rotate(0deg);
//   -webkit-transition: .25s ease-in-out;
//   transition: .25s ease-in-out;
//   cursor: pointer; }

// #nav-icon1 span:nth-child(1) {
//   top: 0px; }

// #nav-icon1 span:nth-child(2) {
//   top: 10px; }

// #nav-icon1 span:nth-child(3) {
//   top: 20px; }

// #nav-icon1.open span:nth-child(1) {
//   top: 10px;
//   -webkit-transform: rotate(135deg);
//   -ms-transform: rotate(135deg);
//       transform: rotate(135deg); }

// #nav-icon1.open span:nth-child(2) {
//   opacity: 0;
//   left: -60px; }

// #nav-icon1.open span:nth-child(3) {
//   top: 10px;
//   -webkit-transform: rotate(-135deg);
//   -ms-transform: rotate(-135deg);
//       transform: rotate(-135deg); }

// footer {
//   background-color: #3e3935; }

// .footer {
//   color: white;
//   padding: 0 50px;
//   padding-top: 50px;
//   font-style: italic;
//   overflow: hidden;
//   position: relative;
//   bottom: 0;
//   background-color: #3e3935;
//   max-width: unset;
//   padding-bottom: 50px; }

// .footer__section:first-child {
//   border-right: 1px solid black; }
//   .footer__section:first-child h4 {
//     color: #40b4e5;
//     border-bottom: 1px solid #40b4e5; }
//   .footer__section:first-child a {
//     color: white !important;
//     padding: 5px 0; }

// .footer__section:last-child h4 {
//   color: #f6b222;
//   border-bottom: 1px solid #f6b222; }

// .footer__section:nth-child(2) h4 {
//   border-bottom: 1px solid #40b4e5; }

// .footer__section:nth-child(3) h4 {
//   border-bottom: 1px solid #f6b222; }

// .footer__section h4 {
//   font-family: STIXGeneral;
//   font-style: italic;
//   display: inline-block; }

// .footer__section ul {
//   list-style: none;
//   margin: 0; }
//   .footer__section ul li ul {
//     margin-left: 32px; }
//     .footer__section ul li ul a {
//       padding: 0; }
//   .footer__section ul li.menu-open ul a:hover {
//     color: #40b4e5 !important; }

// .footer__section p {
//   margin: 0; }

// .footer__content {
//   margin-top: 25px; }
//   .footer__content .trademark {
//     margin-top: 50px; }

// p.email {
//   text-decoration: underline;
//   margin-top: 10px; }

// .social {
//   margin-top: 50px; }
//   .social .fa {
//     margin: 0;
//     font-size: 17px;
//     color: white; }
//   .social .fa-pinterest-square {
//     background-color: #bd081c;
//     padding: 4px; }
//   .social .fa-facebook {
//     background-color: #0f0e9f;
//     padding: 4px 8px;
//     margin-left: -2px; }
//   .social .fa-linkedin-square {
//     background-color: #f6303e;
//     padding: 4px 6px;
//     margin-left: -3px; }
//   .social .fa-instagram {
//     background-color: #f6b220;
//     padding: 4px 6px;
//     margin-left: -3px; }

// @-webkit-keyframes bounce {
//   0% {
//     top: 0; }
//   100% {
//     top: 20px; } }

// @keyframes bounce {
//   0% {
//     top: 0; }
//   100% {
//     top: 20px; } }

// .topSlider {
//   margin-top: 123px; }
//   .topSlider__image {
//     padding-top: 10%;
//     background-repeat: no-repeat;
//     -webkit-background-size: contain;
//             background-size: contain;
//     background-position: center;
//     text-align: center;
//     position: relative; }
//   .topSlider .slick-arrow {
//     position: absolute;
//     color: white;
//     z-index: 1;
//     top: 0;
//     bottom: 0;
//     opacity: 0.5;
//     height: 10px;
//     margin: auto; }
//     .topSlider .slick-arrow .fa {
//       color: white;
//       font-size: 50px;
//       margin: 0 50px; }
//   .topSlider .slick-next {
//     right: 0; }

// .scroll_down {
//   position: absolute;
//   width: 100%;
//   z-index: 2;
//   height: 10px;
//   margin: auto;
//   color: white;
//   font-size: 25px;
//   text-align: center;
//   bottom: 100px;
//   font-family: STIXGeneral;
//   font-style: italic; }
//   .scroll_down--sections {
//     bottom: -70px;
//     font-size: 20px;
//     font-weight: 700; }
//   .scroll_down:focus {
//     outline: none; }
//   .scroll_down span:focus {
//     outline: none; }
//   .scroll_down a {
//     color: white; }
//     .scroll_down a:focus {
//       outline: none; }
//   .scroll_down .arrow_down__left, .scroll_down .arrow_down__right {
//     position: absolute;
//     top: 0px;
//     font-style: normal;
//     -webkit-animation: bounce 0.6s ease-out infinite alternate;
//             animation: bounce 0.6s ease-out infinite alternate; }
//     .scroll_down .arrow_down__left a, .scroll_down .arrow_down__right a {
//       color: white; }
//   .scroll_down .arrow_down__left {
//     left: 42%; }
//   .scroll_down .arrow_down__right {
//     left: 57%; }

// .section {
//   background-repeat: no-repeat;
//   height: calc(100vh - 123px);
//   -webkit-background-size: cover;
//           background-size: cover;
//   position: relative;
//   text-align: center;
//   color: white;
//   font-family: "$main-font";
//   font-weight: 700;
//   margin-top: -1px; }
//   .section:last-child {
//     margin-bottom: -13px; }
//   .section__text {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     width: 100%; }
//   .section__title {
//     font-size: 133px; }
//   .section__subtitle {
//     font-size: 35px;
//     font-style: italic; }

// .office {
//   padding-top: 10%;
//   max-max-max-max-width: 1120px; }
//   .office__front {
//     position: absolute;
//     background-position: center;
//     background-repeat: no-repeat;
//     -webkit-background-size: cover;
//             background-size: cover;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     -webkit-transition: opacity 0.3s ease-in-out;
//     transition: opacity 0.3s ease-in-out; }
//     .office__front:hover {
//       opacity: 0; }
//   .office__back {
//     padding-top: 29%;
//     position: relative;
//     text-align: center;
//     margin: auto 38px;
//     background-position: center;
//     background-repeat: no-repeat;
//     -webkit-background-size: cover;
//             background-size: cover;
//     margin-bottom: 15px; }
//   .office__title {
//     font-size: 50px;
//     color: white;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     font-weight: 700;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     font-family: STIXGeneral;
//     font-style: italic;
//     border-bottom: 2px solid white;
//     -webkit-transition: -webkit-transform 0.3s linear;
//     transition: -webkit-transform 0.3s linear;
//     transition: transform 0.3s linear;
//     transition: transform 0.3s linear, -webkit-transform 0.3s linear;
//     -webkit-transition: font-size 0.3s ease-in-out;
//     transition: font-size 0.3s ease-in-out; }
//     .office__title--back {
//       font-size: 40px;
//       -webkit-transform: translate(-50%, -90%);
//           -ms-transform: translate(-50%, -90%);
//               transform: translate(-50%, -90%); }
//   .office__info {
//     display: block;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%; }
//   .office__address {
//     display: block;
//     color: white;
//     position: absolute;
//     top: 63%;
//     left: 50%;
//     font-weight: 700;
//     -webkit-transform: translateY(-50%);
//     -ms-transform: translateY(-50%);
//     transform: translate(-50%, -50%);
//     font-family: STIXGeneral;
//     font-style: italic;
//     width: 290px;
//     font-size: 25px; }
//   .office__email {
//     display: block;
//     color: white;
//     position: absolute;
//     top: 78%;
//     left: 50%;
//     font-weight: 700;
//     -webkit-transform: translateY(-50%);
//     -ms-transform: translateY(-50%);
//     transform: translate(-50%, -50%);
//     font-family: STIXGeneral;
//     font-style: italic;
//     width: 290px;
//     font-size: 25px; }

// .hidden {
//   opacity: 0; }

// .form {
//   text-align: center;
//   margin-bottom: 50px;
//   max-max-max-max-width: 1120px;
//   margin: 0 auto; }
//   .form__title {
//     color: #565656;
//     font-family: STIXGeneral;
//     display: inline-block;
//     position: relative;
//     margin-bottom: 30px; }
//     .form__title:after {
//       border-bottom: 5px solid #565656;
//       position: absolute;
//       content: '';
//       bottom: -8px;
//       left: 33%;
//       width: 70px;
//       height: 1px; }

// #gform_fields_1 {
//   position: relative; }
//   #gform_fields_1 li.gfield {
//     width: 46%;
//     position: relative; }
//   #gform_fields_1 .gfield_label {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: calc(100-50%) px;
//         -ms-transform: calc(100-50%) px;
//             transform: calc(100-50%) px;
//     margin: 0;
//     -webkit-transform: translateY(-50%);
//         -ms-transform: translateY(-50%);
//             transform: translateY(-50%);
//     z-index: 10; }
//     #gform_fields_1 .gfield_label:before {
//       position: absolute;
//       content: '';
//       top: 0;
//       left: 0;
//       border: 4px solid #2d3da0;
//       -webkit-transition: -webkit-transform 0.3s;
//       transition: -webkit-transform 0.3s;
//       transition: transform 0.3s;
//       transition: transform 0.3s, -webkit-transform 0.3s;
//       width: 250px;
//       height: 106px;
//       margin-right: -250px;
//       margin-top: -53px;
//       border-left: none; }
//     #gform_fields_1 .gfield_label:after {
//       position: absolute;
//       content: '';
//       top: 0;
//       left: 0;
//       border: 4px solid #2d3da0;
//       -webkit-transition: -webkit-transform 0.3s;
//       transition: -webkit-transform 0.3s;
//       transition: transform 0.3s;
//       transition: transform 0.3s, -webkit-transform 0.3s;
//       width: 250px;
//       height: 106px;
//       margin-left: -250px;
//       margin-top: -53px;
//       border-right: none; }
//   #gform_fields_1 .gfield_required {
//     display: none; }
//   #gform_fields_1 .ginput_container > input {
//     height: 100px;
//     padding: 0;
//     margin: 0;
//     width: 100%;
//     border: none;
//     -webkit-box-shadow: none;
//             box-shadow: none; }
//     #gform_fields_1 .ginput_container > input:focus {
//       outline: none; }
//   #gform_fields_1 .move:before {
//     -webkit-transform: translateX(15%);
//         -ms-transform: translateX(15%);
//             transform: translateX(15%); }
//   #gform_fields_1 .move:after {
//     -webkit-transform: translateX(-15%);
//         -ms-transform: translateX(-15%);
//             transform: translateX(-15%); }

// #gform_1 .gform_footer {
//   text-align: center; }
//   #gform_1 .gform_footer #gform_submit_button_1 {
//     width: 100%;
//     font-family: STIXGeneral;
//     background-color: #2d3da0;
//     color: white;
//     font-size: 25px;
//     padding: 15px; }

// .move--box:before {
//   -webkit-transform: translateX(7%);
//       -ms-transform: translateX(7%);
//           transform: translateX(7%); }

// .move--box:after {
//   -webkit-transform: translateX(-7%);
//       -ms-transform: translateX(-7%);
//           transform: translateX(-7%); }

// #field_1_6, #field_1_4 {
//   display: inline-block; }

// #field_1_4 {
//   float: right; }

// #gform_fields_1 #field_1_5 {
//   width: 100%;
//   margin-top: 50px; }
//   #gform_fields_1 #field_1_5 textarea {
//     border: none;
//     -webkit-box-shadow: none;
//             box-shadow: none; }
//   #gform_fields_1 #field_1_5 .gfield_label {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: calc(100-50%) px;
//         -ms-transform: calc(100-50%) px;
//             transform: calc(100-50%) px;
//     margin: 0;
//     -webkit-transform: translateY(-50%);
//         -ms-transform: translateY(-50%);
//             transform: translateY(-50%);
//     z-index: 10; }
//     #gform_fields_1 #field_1_5 .gfield_label:before {
//       position: absolute;
//       content: '';
//       top: 0;
//       left: 0;
//       border: 4px solid #2d3da0;
//       -webkit-transition: -webkit-transform 0.3s;
//       transition: -webkit-transform 0.3s;
//       transition: transform 0.3s;
//       transition: transform 0.3s, -webkit-transform 0.3s;
//       width: 547px;
//       height: 274px;
//       margin-right: -547px;
//       margin-top: -137px;
//       border-left: none; }
//     #gform_fields_1 #field_1_5 .gfield_label:after {
//       position: absolute;
//       content: '';
//       top: 0;
//       left: 0;
//       border: 4px solid #2d3da0;
//       -webkit-transition: -webkit-transform 0.3s;
//       transition: -webkit-transform 0.3s;
//       transition: transform 0.3s;
//       transition: transform 0.3s, -webkit-transform 0.3s;
//       width: 547px;
//       height: 274px;
//       margin-left: -547px;
//       margin-top: -137px;
//       border-right: none; }

// .placeholder {
//   color: #2d3da0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//       -ms-transform: translate(-50%, -50%);
//           transform: translate(-50%, -50%);
//   -webkit-transition: -webkit-transform 0.2s ease-in-out;
//   transition: -webkit-transform 0.2s ease-in-out;
//   transition: transform 0.2s ease-in-out;
//   transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
//   .placeholder--movedown {
//     -webkit-transform: translate(-50%, 150%);
//     -ms-transform: translate(-50%, 150%);
//     transform: translate(-50%, 150%);
//     background-color: white;
//     z-index: 50;
//     padding: 0 5px; }
//   .placeholder--movedown_textarea {
//     -webkit-transform: translate(-50%, 484%);
//     -ms-transform: translate(-50%, 484%);
//     transform: translate(-50%, 484%);
//     background-color: white;
//     z-index: 50;
//     padding: 0 5px; }

// @-webkit-keyframes rotation {
//   0% {
//     -webkit-transform: rotateZ(0deg);
//             transform: rotateZ(0deg); }
//   100% {
//     -webkit-transform: rotateZ(360deg);
//             transform: rotateZ(360deg); } }

// /* Standard syntax */
// @keyframes rotation {
//   0% {
//     -webkit-transform: rotateZ(0deg);
//             transform: rotateZ(0deg); }
//   100% {
//     -webkit-transform: rotateZ(360deg);
//             transform: rotateZ(360deg); } }

// .panorama {
//   padding-top: 30%;
//   background-repeat: no-repeat;
//   background-position: center;
//   -webkit-background-size: cover;
//           background-size: cover;
//   background-position: 0%;
//   -webkit-transition: background-position .8s ease-in-out;
//   transition: background-position .8s ease-in-out; }
//   .panorama__title {
//     color: white;
//     position: relative;
//     margin-bottom: 40px;
//     margin: 0;
//     left: 23%;
//     font-weight: 800;
//     font-family: STIXGeneral; }
//     .panorama__title:after {
//       content: '';
//       border-top: 4px solid white;
//       position: relative;
//       left: -265px;
//       padding: 10px;
//       display: block;
//       width: 100px;
//       margin: 0 auto; }
//   .panorama__overlay {
//     margin-top: -287px;
//     padding-top: 25px;
//     padding-bottom: 100px;
//     position: relative;
//     height: 500px; }
//     .panorama__overlay::before, .panorama__overlay::after {
//       display: table;
//       content: ' '; }
//     .panorama__overlay::after {
//       clear: both; }
//     .panorama__overlay:before {
//       content: '';
//       position: absolute;
//       left: 1.5%;
//       padding: 10px;
//       display: block;
//       width: 97%;
//       margin: 0 auto;
//       height: 80%;
//       background-color: rgba(16, 16, 16, 0.38); }
//   .panorama__logo {
//     position: relative;
//     opacity: 0.5;
//     margin: 0;
//     float: left;
//     width: 20%;
//     top: 30px;
//     left: 32px; }
//     .panorama__logo:after {
//       position: absolute;
//       content: '';
//       width: 70px;
//       height: 5px;
//       background-color: white;
//       margin-right: -219px;
//       margin-top: -53px;
//       border-left: none;
//       -webkit-transform: translate3d(158px, 33px, 0px);
//               transform: translate3d(158px, 33px, 0px); }
//     .panorama__logo:last-child:after {
//       position: absolute;
//       content: '';
//       width: 0;
//       height: 0; }

// .big {
//   max-max-max-max-width: 1120px;
//   margin: 0 auto; }

// .logo__circle {
//   position: absolute;
//   -webkit-transition: -webkit-transform 1s ease-in-out;
//   transition: -webkit-transform 1s ease-in-out;
//   transition: transform 1s ease-in-out;
//   transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
//   -webkit-transform: rotateZ(0deg);
//       -ms-transform: rotate(0deg);
//           transform: rotateZ(0deg); }

// .logo__item {
//   width: 50px;
//   -webkit-transform: translate3d(54px, 40px, 0px);
//           transform: translate3d(54px, 40px, 0px); }

// .logo__caption {
//   color: white;
//   font-size: 20px;
//   font-weight: 600;
//   -webkit-transform: translate3d(50px, 44px, 0px);
//           transform: translate3d(50px, 44px, 0px); }

// .logo--shine {
//   opacity: 1 !important; }

// .logo--rotate {
//   -webkit-animation-name: rotation;
//   /* Safari 4.0 - 8.0 */
//   -webkit-animation-duration: 1s;
//   /* Safari 4.0 - 8.0 */
//   -webkit-animation-iteration-count: 1;
//   /* Safari 4.0 - 8.0 */
//   animation-name: rotation;
//   animation-duration: 1s;
//   animation-iteration-count: 1; }

// .page-template-page-ourProcess .container {
//   margin-top: 123px;
//   padding: 0 80px; }

// .page-template-page-ourProcess .button__prev {
//   position: absolute;
//   z-index: 150;
//   left: 0;
//   top: 0;
//   left: 10%;
//   width: 50px;
//   height: 20px;
//   top: 400px; }

// .page-template-page-ourProcess .button__next {
//   position: absolute;
//   z-index: 150;
//   left: 0;
//   top: 0;
//   left: 20%;
//   width: 50px;
//   height: 20px;
//   top: 400px; }

// .page-template-page-ourProcess .morePost:nth-child(odd) {
//   background-color: #f4f4f4; }

// .page-template-page-ourProcess .morePost:nth-child(even) {
//   background-color: white; }

// .page-template-page-ourProcess .morePost.large-12 img {
//   width: 100%;
//   max-height: 200%;
//   height: auto; }

// #logo__0 {
//   opacity: 0.5; }

// #logo__1, #logo__2, #logo__3, #logo__4 {
//   opacity: 0.5; }

// .page-template-page-templates *:focus {
//   outline-color: white; }

// .page-template-page-templates .intro {
//   text-align: center;
//   background-color: #f7f7f7; }
//   .page-template-page-templates .intro__thumbnail {
//     padding-top: 30%;
//     background-position: center;
//     -webkit-background-size: cover;
//             background-size: cover;
//     background-repeat: no-repeat; }
//   .page-template-page-templates .intro__body {
//     margin-top: 30px;
//     text-align: center; }
//   .page-template-page-templates .intro__title {
//     font-family: STIXGeneral;
//     color: #565656;
//     font-weight: bold; }
//     .page-template-page-templates .intro__title:after {
//       content: '';
//       border-top: 4px solid #565656;
//       padding: 10px;
//       display: block;
//       width: 80px;
//       margin: 0 auto; }
//   .page-template-page-templates .intro__text {
//     font-family: Myriad Pro;
//     color: #565656;
//     width: 666px;
//     text-align: center;
//     display: inline-block;
//     font-size: 18px; }
//   .page-template-page-templates .intro__values {
//     margin-top: 50px;
//     margin-bottom: 50px; }

// .page-template-page-templates .value__title {
//   margin-top: 20px;
//   font-family: STIXGeneral;
//   color: #565656;
//   font-weight: bold; }
//   .page-template-page-templates .value__title:after {
//     content: '';
//     border-top: 4px solid #565656;
//     padding: 10px;
//     display: block;
//     width: 50px;
//     margin: 0 auto; }

// .page-template-page-templates .value__icon {
//   max-height: 70px; }

// .page-template-page-templates .value__text {
//   font-family: Myriad Pro;
//   color: #565656;
//   width: 245px;
//   display: inline-block; }

// .team {
//   margin-top: 100px;
//   text-align: center; }
//   .team__title {
//     font-family: STIXGeneral;
//     color: #565656;
//     font-weight: bold; }
//     .team__title:after {
//       content: '';
//       border-top: 4px solid #565656;
//       padding: 10px;
//       display: block;
//       width: 80px;
//       margin: 0 auto; }
//   .team__members {
//     margin-top: 20px; }

// .member {
//   padding: 0;
//   position: relative;
//   left: 0;
//   -webkit-transition: left 0.6s ease-in-out;
//   transition: left 0.6s ease-in-out;
//   z-index: 1; }
//   .member:hover .member__tag {
//     z-index: 1; }
//   .member:hover .member__image {
//     -webkit-filter: grayscale(0%); }
//   .member__prev {
//     font-size: 30px;
//     color: #565656;
//     position: absolute;
//     left: -5%;
//     z-index: 5;
//     top: 50%;
//     -webkit-transform: translateY(-50%);
//         -ms-transform: translateY(-50%);
//             transform: translateY(-50%); }
//   .member__next {
//     font-size: 30px;
//     color: #565656;
//     position: absolute;
//     right: -5%;
//     z-index: 5;
//     top: 50%;
//     -webkit-transform: translateY(-50%);
//         -ms-transform: translateY(-50%);
//             transform: translateY(-50%); }
//   .member__image {
//     padding-top: 120%;
//     -webkit-background-size: contain;
//             background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-color: white;
//     -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
//     -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
//     -webkit-filter: grayscale(100%);
//     filter: gray;
//     z-index: 1;
//     -webkit-transition: left 0.6s ease-in-out;
//     transition: left 0.6s ease-in-out;
//     -webkit-transition: -webkit-filter 0.6s ease-in-out;
//     transition: -webkit-filter 0.6s ease-in-out;
//     transition: filter 0.6s ease-in-out;
//     transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out;
//     overflow: hidden; }
//     .member__image--color {
//       -webkit-filter: grayscale(0%);
//       z-index: 6; }
//   .member__info {
//     background-color: #f7f7f7;
//     color: #565656;
//     position: absolute;
//     top: 0;
//     left: 100%;
//     height: 100%;
//     width: 100%;
//     z-index: -1;
//     -webkit-transition: z-index 1s ease-in-out;
//     transition: z-index 1s ease-in-out;
//     padding: 10px 30px 20px 30px; }
//     .member__info--open {
//       z-index: 3; }
//   .member__bio {
//     font-size: 14px;
//     padding-bottom: 50px; }
//   .member__tag {
//     position: absolute;
//     bottom: 0;
//     font-family: STIXGeneral;
//     font-weight: bold;
//     color: white;
//     text-align: left;
//     z-index: -1;
//     width: 100%;
//     left: 20%;
//     -webkit-transition: z-index 1s ease-in-out;
//     transition: z-index 1s ease-in-out;
//     display: inline-block;
//     width: 70%;
//     background: rgba(10, 10, 10, 0.44);
//     padding-left: 10px;
//     margin-bottom: 16px; }
//     .member__tag--open {
//       z-index: 1; }
//   .member__name {
//     margin-bottom: 0; }
//   .member__title {
//     margin-bottom: 0; }
//   .member__channels {
//     float: left;
//     position: absolute;
//     bottom: 15px; }
//     .member__channels a {
//       margin-right: 5px; }
//     .member__channels .fa {
//       font-size: 25px;
//       color: #565656; }

// .activities {
//   max-max-max-max-width: 1120px;
//   margin: 0 auto;
//   margin-top: 100px;
//   text-align: center;
//   position: relative; }
//   .activities__title {
//     font-family: STIXGeneral;
//     color: #565656;
//     font-weight: bold; }
//     .activities__title:after {
//       content: '';
//       border-top: 4px solid #565656;
//       padding: 10px;
//       display: block;
//       width: 80px;
//       margin: 0 auto; }
//   .activities__thumbnail {
//     padding-top: 75%;
//     background-repeat: no-repeat;
//     background-position: center;
//     position: relative;
//     border: none; }
//   .activities .activity__title {
//     font-weight: bold;
//     font-family: STIXGeneral; }
//   .activities .activity__content {
//     position: absolute;
//     top: 333px;
//     border-radius: 50%;
//     width: 350px;
//     height: 350px;
//     left: 392px;
//     padding-top: 25px;
//     border: none; }

// .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
//   background-color: transparent; }

// .middle__title {
//   font-family: STIXGeneral;
//   font-weight: bold; }
//   .middle__title:after {
//     content: '';
//     border-top: 4px solid black;
//     left: -px;
//     padding: 10px;
//     display: block;
//     width: 70px;
//     margin: 0 auto; }

// .service {
//   position: absolute;
//   right: 295px;
//   top: 158px;
//   width: 137px;
//   height: 137px;
//   text-align: center;
//   border-radius: 50%;
//   padding: 1px;
//   overflow: hidden; }
//   .service h6 {
//     margin-top: 61px;
//     color: #4a5dc0;
//     background-color: transparent; }
//   .service a {
//     position: absolute;
//     top: 0;
//     display: block;
//     padding: 1.25rem 1.5rem;
//     font-size: 0.75rem;
//     line-height: 1;
//     color: #4a5dc0;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     background-color: white; }
//     .service a:hover {
//       color: #4a5dc0; }
//   .service svg {
//     fill: #4a5dc0;
//     background-color: white;
//     width: 76px;
//     height: 88px;
//     border-radius: 50%;
//     position: absolute;
//     top: 30%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     -webkit-transition: fill 0.5s ease-in-out;
//     transition: fill 0.5s ease-in-out;
//     -webkit-transition: width 0.5s ease-in-out;
//     transition: width 0.5s ease-in-out; }
//   .service--open {
//     top: 157px;
//     width: 137px;
//     height: 137px;
//     right: 294px;
//     background-color: #4a5dc0; }
//     .service--open a {
//       background-color: #4a5dc0; }
//     .service--open svg {
//       fill: white;
//       background-color: #4a5dc0;
//       width: 85%;
//       height: 100%;
//       top: 50%;
//       left: 50%;
//       -webkit-transform: translate(-50%, -50%);
//           -ms-transform: translate(-50%, -50%);
//               transform: translate(-50%, -50%); }

// .architecture {
//   position: absolute;
//   right: 491px;
//   top: 78px;
//   width: 135px;
//   height: 135px;
//   text-align: center;
//   border-radius: 50%;
//   padding: 19px;
//   padding-top: 37px; }
//   .architecture h6 {
//     color: #283480;
//     margin-top: 16px;
//     font-size: 16px;
//     margin: 16px -13px 1px -18px; }
//   .architecture a {
//     display: block;
//     padding: 1.25rem 1.5rem;
//     font-size: 0.75rem;
//     line-height: 1;
//     color: #283480;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%; }
//     .architecture a:hover {
//       color: #283480; }
//   .architecture svg {
//     fill: #283480;
//     width: 77px;
//     position: absolute;
//     top: 35%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     -webkit-transition: fill 0.5s ease-in-out;
//     transition: fill 0.5s ease-in-out;
//     -webkit-transition: width 0.5s ease-in-out;
//     transition: width 0.5s ease-in-out; }
//   .architecture--open a {
//     background-color: #283480; }
//   .architecture--open svg {
//     fill: white;
//     background: #283480;
//     width: 105%;
//     border: 10px solid #283480;
//     height: 103%;
//     border-radius: 50%;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%); }

// .branding {
//   position: absolute;
//   left: 296px;
//   top: 157px;
//   width: 137px;
//   height: 137px;
//   text-align: center;
//   border-radius: 50%; }
//   .branding h6 {
//     font-size: 15px;
//     margin: 0;
//     margin-top: 72px; }
//   .branding a {
//     display: block;
//     line-height: 1;
//     color: #fd6474;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     position: absolute;
//     top: 0;
//     overflow: hidden;
//     background-color: white; }
//     .branding a:hover {
//       color: #fd6474; }
//   .branding svg {
//     fill: #fd6474;
//     background-color: white;
//     width: 70px;
//     border-radius: 50%;
//     position: absolute;
//     top: 28%;
//     left: 50%;
//     height: 71px;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     -webkit-transition: fill 0.5s ease-in-out;
//     transition: fill 0.5s ease-in-out;
//     -webkit-transition: width 0.5s ease-in-out;
//     transition: width 0.5s ease-in-out; }
//   .branding--open {
//     background-color: #fd6474; }
//     .branding--open a {
//       background-color: #fd6474; }
//     .branding--open svg {
//       fill: white;
//       background: #fd6474;
//       width: 102%;
//       border: 10px solid #fd6474;
//       height: 102%;
//       top: 68px;
//       left: 68px; }

// .landscape {
//   position: absolute;
//   left: 215px;
//   top: 356px;
//   width: 135px;
//   height: 135px;
//   text-align: center;
//   border-radius: 50%;
//   padding: 10px;
//   padding-top: 80px;
//   overflow: hidden; }
//   .landscape a {
//     display: block;
//     line-height: 1;
//     color: #e73843;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%;
//     padding: 0; }
//     .landscape a:hover {
//       color: #e73843; }
//   .landscape svg {
//     fill: #e73843;
//     background: white;
//     width: 77px;
//     height: 75px;
//     position: absolute;
//     top: 33%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     -webkit-transition: fill 0.5s ease-in-out;
//     transition: fill 0.5s ease-in-out;
//     -webkit-transition: width 0.5s ease-in-out;
//     transition: width 0.5s ease-in-out; }
//   .landscape--open {
//     left: 214px;
//     top: 355px;
//     width: 137px;
//     height: 137px; }
//     .landscape--open a {
//       background-color: #e73843; }
//     .landscape--open svg {
//       fill: white;
//       background: #e73843;
//       border-radius: 50%;
//       width: 102%;
//       border: 10px solid #e73843;
//       height: 102%;
//       top: 68px;
//       left: 68px; }

// .strategic {
//   position: absolute;
//   left: 297px;
//   bottom: 153px;
//   width: 135px;
//   height: 135px;
//   text-align: center;
//   border-radius: 50%; }
//   .strategic a {
//     display: block;
//     line-height: 1;
//     color: #fac82e;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     position: absolute;
//     top: 0;
//     overflow: hidden;
//     background-color: white; }
//     .strategic a:hover {
//       background-color: transparent;
//       color: #fac82e; }
//   .strategic svg {
//     fill: #fac82e;
//     background-color: white;
//     width: 77px;
//     height: 77px;
//     border-radius: 50%;
//     position: absolute;
//     top: 35%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     -webkit-transition: fill 0.5s ease-in-out;
//     transition: fill 0.5s ease-in-out;
//     -webkit-transition: width 0.5s ease-in-out;
//     transition: width 0.5s ease-in-out; }
//   .strategic h6 {
//     margin-top: 81px; }
//   .strategic--open {
//     left: 295px;
//     width: 137px;
//     height: 137px; }
//     .strategic--open a {
//       background-color: #fac82e; }
//     .strategic--open svg {
//       fill: white;
//       background: #fac82e;
//       width: 102%;
//       border: 10px solid #fac82e;
//       height: 101%;
//       top: 68px;
//       left: 68px; }

// .projectMan {
//   position: absolute;
//   right: 490px;
//   bottom: 71px;
//   width: 135px;
//   height: 135px;
//   text-align: center;
//   border-radius: 50%; }
//   .projectMan a {
//     display: block;
//     line-height: 1;
//     color: #f6b222;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     position: absolute;
//     top: 0;
//     overflow: hidden;
//     background-color: white; }
//     .projectMan a:hover {
//       background-color: transparent;
//       color: #f6b222; }
//   .projectMan h6 {
//     font-size: 15px;
//     margin-top: 75px; }
//   .projectMan svg {
//     fill: #f6b222;
//     width: 70px;
//     position: absolute;
//     border-radius: 50%;
//     top: 30%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     -webkit-transition: fill 0.5s ease-in-out;
//     transition: fill 0.5s ease-in-out;
//     -webkit-transition: width 0.5s ease-in-out;
//     transition: width 0.5s ease-in-out; }
//   .projectMan--open {
//     width: 137px;
//     height: 137px; }
//     .projectMan--open a {
//       background-color: #f6b222; }
//     .projectMan--open svg {
//       fill: white;
//       background: #f6b222;
//       width: 102%;
//       border: 10px solid #f6b222;
//       height: 101%;
//       top: 68px;
//       left: 68px; }

// .product {
//   position: absolute;
//   right: 292px;
//   bottom: 151px;
//   width: 135px;
//   height: 135px;
//   text-align: center;
//   border-radius: 50%; }
//   .product a {
//     display: block;
//     line-height: 1;
//     color: #52c9ee;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     position: absolute;
//     top: 0;
//     overflow: hidden;
//     background-color: white; }
//     .product a:hover {
//       background-color: transparent;
//       color: #52c9ee; }
//   .product h6 {
//     margin-top: 81px; }
//   .product svg {
//     fill: #52c9ee;
//     background: white;
//     width: 77px;
//     height: 88px;
//     border-radius: 50%;
//     position: absolute;
//     top: 32%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     -webkit-transition: fill 0.5s ease-in-out;
//     transition: fill 0.5s ease-in-out;
//     -webkit-transition: width 0.5s ease-in-out;
//     transition: width 0.5s ease-in-out; }
//   .product--open {
//     width: 137px;
//     height: 137px; }
//     .product--open a {
//       background-color: #52c9ee; }
//     .product--open svg {
//       fill: white;
//       background: #52c9ee;
//       width: 102%;
//       border: 10px solid #52c9ee;
//       height: 101%;
//       top: 68px;
//       left: 68px; }

// .urban {
//   position: absolute;
//   right: 213px;
//   bottom: 350px;
//   width: 135px;
//   height: 135px;
//   text-align: center;
//   border-radius: 50%; }
//   .urban a {
//     display: block;
//     line-height: 1;
//     color: #3cb6e7;
//     border-radius: 50%;
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     position: absolute;
//     top: 0;
//     overflow: hidden;
//     background-color: white;
//     -webkit-transition: background-color 0.2s ease-in-out;
//     transition: background-color 0.2s ease-in-out; }
//     .urban a:hover {
//       background-color: transparent;
//       color: #3cb6e7; }
//     .urban a h6 {
//       margin-top: 92px; }
//       .urban a h6:hover {
//         color: #3cb6e7; }
//   .urban svg {
//     fill: #3cb6e7;
//     background: white;
//     width: 95px;
//     border-radius: 50%;
//     position: absolute;
//     top: 35%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     -webkit-transition: fill 0.5s ease-in-out;
//     transition: fill 0.5s ease-in-out;
//     -webkit-transition: width 0.5s ease-in-out;
//     transition: width 0.5s ease-in-out; }
//   .urban--open {
//     width: 137px;
//     height: 137px; }
//     .urban--open a {
//       background-color: #3cb6e7;
//       width: 102%;
//       height: 102%; }
//     .urban--open svg {
//       fill: white;
//       background: #3cb6e7;
//       width: 102%;
//       border: 10px solid #3cb6e7;
//       height: 101%;
//       top: 68px;
//       left: 68px; }

// #panel_service {
//   color: #4a5dc0; }
//   #panel_service .middle__title:after {
//     border-top: 4px solid #4a5dc0; }

// #panel_arch {
//   color: #283480; }
//   #panel_arch .middle__title:after {
//     border-top: 4px solid #283480; }

// #panel_branding {
//   color: #fd6474; }
//   #panel_branding .middle__title:after {
//     border-top: 4px solid #fd6474; }

// #panel_landscape {
//   color: #e73843; }
//   #panel_landscape .middle__title:after {
//     border-top: 4px solid #e73843; }

// #panel_projectMan {
//   color: #f6b222; }
//   #panel_projectMan .middle__title:after {
//     border-top: 4px solid #f6b222; }

// #panel_strategic {
//   color: #fac82e; }
//   #panel_strategic .middle__title:after {
//     border-top: 4px solid #fac82e; }

// #panel_product {
//   color: #52c9ee; }
//   #panel_product .middle__title:after {
//     border-top: 4px solid #52c9ee; }

// #panel_urban {
//   color: #3cb6e7; }
//   #panel_urban .middle__title:after {
//     border-top: 4px solid #3cb6e7; }

// .timeline {
//   overflow: hidden;
//   max-max-max-max-width: 1120px;
//   margin: 0 auto; }
//   .timeline__panels {
//     border: none; }
//   .timeline__panel {
//     padding: 0; }
//   .timeline__title {
//     margin-top: 100px; }
//   .timeline__tabs {
//     position: fixed;
//     z-index: 100;
//     border: none;
//     padding: 0;
//     max-width: 1120px;
//     overflow: hidden; }
//   .timeline__tab {
//     position: relative;
//     width: 159.7px;
//     text-align: center;
//     padding-top: 10px;
//     -webkit-transition: padding-top 0.2s ease-in-out;
//     transition: padding-top 0.2s ease-in-out; }
//     .timeline__tab:after {
//       content: '';
//       background: transparent;
//       position: absolute;
//       left: 0;
//       width: 100%;
//       height: 10px;
//       display: block; }
//     .timeline__tab:hover {
//       padding-top: 0px; }
//       .timeline__tab:hover:after {
//         max-max-max-max-width: 1120px; }
//     .timeline__tab.is-active a {
//       background-color: #2f3fa1 !important; }
//     .timeline__tab.is-active:hover:after {
//       background-color: #2f3fa1 !important; }
//     .timeline__tab a {
//       font-size: 20px;
//       font-family: STIXGeneral;
//       background-color: blue;
//       color: white;
//       border-top-left-radius: 10px;
//       border-top-right-radius: 10px;
//       background-color: grey; }
//       .timeline__tab a[aria-selected='true'] {
//         background-color: #2f3fa1; }
//       .timeline__tab a:hover {
//         background-color: #2f3fa1; }
//       .timeline__tab a.colored {
//         background-color: #2f3fa1; }
//     .timeline__tab:nth-child(1) {
//       z-index: 7; }
//       .timeline__tab:nth-child(1) a {
//         background-color: #2c2c2c;
//         color: white; }
//     .timeline__tab:hover:after {
//       background-color: #2c2c2c; }
//     .timeline__tab:nth-child(2) {
//       z-index: 6; }
//       .timeline__tab:nth-child(2) a {
//         background-color: #3e3935;
//         color: white; }
//       .timeline__tab:nth-child(2):hover:after {
//         background-color: #3e3935; }
//     .timeline__tab:nth-child(3) {
//       z-index: 5; }
//       .timeline__tab:nth-child(3) a {
//         background-color: #5f5c5a;
//         color: white; }
//       .timeline__tab:nth-child(3):hover:after {
//         background-color: #5f5c5a; }
//     .timeline__tab:nth-child(4) {
//       z-index: 4; }
//       .timeline__tab:nth-child(4) a {
//         background-color: #7c7b7b;
//         color: white; }
//       .timeline__tab:nth-child(4):hover:after {
//         background-color: #7c7b7b; }
//     .timeline__tab:nth-child(5) {
//       z-index: 3; }
//       .timeline__tab:nth-child(5) a {
//         background-color: #939392;
//         color: white; }
//       .timeline__tab:nth-child(5):hover:after {
//         background-color: #939392; }
//     .timeline__tab:nth-child(6) {
//       z-index: 2; }
//       .timeline__tab:nth-child(6) a {
//         background-color: #afafae;
//         color: white; }
//       .timeline__tab:nth-child(6):hover:after {
//         background-color: #afafae; }
//     .timeline__tab:nth-child(7) {
//       z-index: 1;
//       width: 161.5px; }
//       .timeline__tab:nth-child(7) a {
//         background-color: #c6c6c6;
//         color: white; }
//       .timeline__tab:nth-child(7):hover:after {
//         background-color: #c6c6c6; }
//   .timeline .gallery {
//     margin-top: 50px; }
//     .timeline .gallery__item {
//       padding: 0;
//       position: relative;
//       overflow: hidden;
//       border: 2px solid white; }
//       .timeline .gallery__item:hover .caption__body {
//         opacity: 1; }
//       .timeline .gallery__item:hover .caption__more {
//         opacity: 1; }
//       .timeline .gallery__item:hover .caption__more:before {
//         opacity: 1; }
//       .timeline .gallery__item:hover .caption__title {
//         margin-top: 5%; }
//     .timeline .gallery__image {
//       padding-top: 98.6%;
//       background-repeat: no-repeat;
//       -webkit-background-size: cover;
//               background-size: cover;
//       background-position: center; }
//   .timeline .caption {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 90%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     text-align: center;
//     color: white; }
//     .timeline .caption::before, .timeline .caption::after {
//       display: table;
//       content: ' '; }
//     .timeline .caption::after {
//       clear: both; }
//     .timeline .caption__dimmed {
//       background-color: rgba(0, 0, 0, 0.43);
//       position: absolute;
//       padding: 100%;
//       margin-top: -110px;
//       margin-left: -25px;
//       z-index: -1; }
//     .timeline .caption__title {
//       font-family: STIXGeneral;
//       font-weight: bold;
//       margin-top: 77%;
//       -webkit-transform: translateY(-50%);
//           -ms-transform: translateY(-50%);
//               transform: translateY(-50%);
//       -webkit-transition: margin-top 0.2s ease-in-out;
//       transition: margin-top 0.2s ease-in-out; }
//       .timeline .caption__title:after {
//         content: '';
//         border-top: 2px solid white;
//         position: relative;
//         padding: 10px;
//         display: block;
//         width: 50px;
//         margin: 0 auto;
//         top: 10px; }
//     .timeline .caption__body {
//       text-align: left;
//       margin-top: -30px;
//       font-size: 13px;
//       opacity: 0;
//       -webkit-transition: opacity 0.2s ease-in-out;
//       transition: opacity 0.2s ease-in-out;
//       padding: 0 25px; }
//     .timeline .caption__more {
//       opacity: 0;
//       color: white;
//       font-family: STIXGeneral;
//       font-weight: bold;
//       position: relative;
//       padding-top: 15px;
//       float: left;
//       -webkit-transition: opacity 0.2s ease-in-out;
//       transition: opacity 0.2s ease-in-out; }
//       .timeline .caption__more:before {
//         display: none;
//         content: '';
//         width: 0;
//         background-color: white;
//         -webkit-transition: width 0.3s ease-in-out;
//         transition: width 0.3s ease-in-out;
//         position: relative;
//         padding-left: 3px;
//         display: inline-block;
//         height: 30px;
//         top: 12px;
//         position: absolute;
//         left: 25px; }
//       .timeline .caption__more:hover {
//         display: block; }
//         .timeline .caption__more:hover:before {
//           display: block; }
//       .timeline .caption__more span {
//         color: white;
//         -webkit-transition: color 0.3s ease-in-out;
//         transition: color 0.3s ease-in-out;
//         padding-left: 50px; }
//       .timeline .caption__more:hover:before {
//         width: 122px; }
//       .timeline .caption__more:hover span {
//         position: relative;
//         color: black; }

// .partners {
//   text-align: center;
//   border-right: 2px solid white; }
//   .partners__title {
//     margin-top: 50px;
//     color: #3e3935;
//     position: relative;
//     font-weight: 800;
//     font-family: STIXGeneral; }
//     .partners__title:after {
//       content: '';
//       border-top: 4px solid #3e3935;
//       left: -265px;
//       padding: 10px;
//       display: block;
//       width: 100px;
//       margin: 0 auto; }
//   .partners__slider {
//     margin-top: 50px; }
//     .partners__slider div {
//       width: 100%; }
//   .partners__slide {
//     padding-top: 47%;
//     background-repeat: no-repeat;
//     -webkit-background-size: contain;
//             background-size: contain;
//     border-right: 1px solid #3e3935;
//     background-position: center; }
//     .partners__slide-last {
//       border: none; }

// .single-article .container, .single-news .container, .page-template-page-timeline .container, .post-type-archive-project .container, .page-template-page-whoWeAre .container {
//   margin-top: 123px;
//   padding: 0 80px;
//   margin-bottom: 50px; }

// #single-post {
//   margin-top: 123px; }

// .bg_image {
//   background-repeat: no-repeat;
//   -webkit-background-size: cover;
//           background-size: cover;
//   position: relative;
//   padding: 50% 20px 10px 20px;
//   text-align: center;
//   color: white;
//   background-position: center; }
//   .bg_image h1 {
//     position: absolute;
//     font-family: STIXGeneral;
//     font-weight: bold;
//     top: 50%;
//     left: 50%;
//     -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//             transform: translate(-50%, -50%);
//     width: 100%; }
//     .bg_image h1:after {
//       content: '';
//       border-top: 4px solid white;
//       position: relative;
//       padding: 10px;
//       display: block;
//       width: 100px;
//       margin: 0 auto; }
//   .bg_image .dimmed {
//     position: absolute;
//     opacity: 0.5;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0; }
//   .bg_image .pattern {
//     position: absolute;
//     opacity: 0.3;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     left: 0; }

// #single-post .main-content {
//   width: 100%;
//   padding: 0;
//   margin-bottom: 30px; }
//   #single-post .main-content::before, #single-post .main-content::after {
//     display: table;
//     content: ' '; }
//   #single-post .main-content::after {
//     clear: both; }
//   #single-post .main-content .entry-content {
//     font-family: Myriad Pro;
//     font-size: 18px;
//     padding: 40px 30px 50px 30px;
//     background-color: #f4f4f4;
//     margin-bottom: 50px;
//     color: #3e3935; }

// .subArticle {
//   position: relative; }
//   .subArticle__text {
//     padding: 25px 40px;
//     background-color: #eeeeee;
//     border-left: 20px solid #f4f4f4;
//     color: #524e4a; }
//   .subArticle__icon {
//     position: absolute;
//     width: 100%;
//     z-index: 1; }
//   .subArticle li {
//     position: relative; }

// .single-article .tabs {
//   background-color: #f4f4f4;
//   border: 1px solid transparent; }

// .single-article .tabs-title {
//   margin-bottom: 10px; }
//   .single-article .tabs-title a {
//     margin: 0 auto;
//     padding: 0;
//     position: relative;
//     max-width: 100%; }
//     .single-article .tabs-title a:hover {
//       background-color: #ebebeb; }
//   .single-article .tabs-title svg {
//     fill: #3e3935;
//     margin: 20px; }
//   .single-article .tabs-title.is-active svg {
//     fill: #1e8aa2;
//     background: #ebebeb;
//     margin: 20px; }

// .single-article .tabs-panel {
//   background-color: #eeeeee;
//   color: #524e4a; }

// .single-article .tabs-content {
//   border: 1px solid #eeeeee; }

// .triangle a {
//   max-width: 100%; }

// .triangle:after {
//   content: '';
//   position: absolute;
//   width: 0;
//   top: 50%;
//   left: 100%;
//   height: 0;
//   border-top: 20px solid transparent;
//   border-bottom: 20px solid transparent;
//   border-left: 20px solid #ebebeb;
//   translateY: 51%;
//   -webkit-transform: translateY(-50%);
//       -ms-transform: translateY(-50%);
//           transform: translateY(-50%); }

// .triangle > a {
//   background-color: #ebebeb !important; }

// .morePost {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   font-family: STIXGeneral;
//   color: #565656;
//   margin: 10px 0;
//   padding: 0; }
//   .morePost__image {
//     position: relative;
//     overflow: hidden; }
//     .morePost__image img {
//       position: absolute;
//       height: 100%;
//       left: 0;
//       top: 0;
//       max-width: none; }
//   .morePost__title {
//     font-weight: 600;
//     font-family: STIXGeneral;
//     color: #565656;
//     margin-bottom: 30px; }
//   .morePost__text {
//     background-color: #f4f4f4;
//     margin: 0;
//     margin-right: 10px;
//     padding: 20px; }
//   .morePost__excerpt {
//     font-family: Myriad Pro; }
//   .morePost:nth-child(odd) {
//     background-color: #f4f4f4; }
//   .morePost:nth-child(even) {
//     background-color: white; }
//   .morePost:last-child {
//     background-color: #f4f4f4;
//     margin-bottom: 50px;
//     float: left !important; }
//   .morePost .moretag {
//     color: #565656;
//     display: block;
//     margin-top: 10px;
//     background-color: transparent;
//     font-family: STIXGeneral;
//     font-size: 20px;
//     font-weight: 600;
//     position: relative;
//     padding-top: 20px;
//     padding-left: 15px; }
//     .morePost .moretag:before {
//       content: '';
//       width: 5px;
//       background-color: #565656;
//       -webkit-transition: width 0.3s ease-in-out;
//       transition: width 0.3s ease-in-out;
//       position: relative;
//       padding-left: 7px;
//       display: inline-block;
//       height: 40px;
//       top: 17px;
//       position: absolute;
//       left: 0px; }
//     .morePost .moretag span {
//       color: #565656;
//       -webkit-transition: color 0.3s ease-in-out;
//       transition: color 0.3s ease-in-out; }
//     .morePost .moretag:hover:before {
//       width: 122px; }
//     .morePost .moretag:hover span {
//       position: relative;
//       color: white; }

// .postsContainer {
//   margin-top: 50px; }
//   .postsContainer__title {
//     text-align: center;
//     font-family: STIXGeneral;
//     color: #3e3935;
//     font-weight: 600;
//     margin-bottom: 10px; }

// .verge {
//   text-align: center; }

// .clone {
//   margin-bottom: 50px;
//   max-max-max-max-width: 1120px;
//   overflow: hidden; }
//   .clone::before, .clone::after {
//     display: table;
//     content: ' '; }
//   .clone::after {
//     clear: both; }
//   .clone__tabs {
//     list-style: none;
//     background-color: white;
//     margin-left: 0;
//     overflow: hidden; }
//   .clone__tab {
//     float: left; }
//     .clone__tab:after {
//       background-color: transparent; }
//     .clone__tab a {
//       display: block;
//       padding: 12px; }
//     .clone__tab--active a {
//       background-color: #2f3fa1 !important; }
//     .clone__tab--active:hover:after {
//       background-color: #2f3fa1 !important; }

// .single-project .container {
//   max-max-max-max-width: 1120px;
//   margin: 0 auto; }

// .post-type-archive-project {
//   overflow: scroll !important; }

// /*# sourceMappingURL=foundation.css.map */
