@font-face {
	font-family: STIXGeneral;
	src: url(../fonts/STIX-Regular.ttf);
}
$dark-grey: #3e3935;
$light-brown: #f7f7f7;
$second-grey: #565656;
$blue: #40b4e5;
$orange: #f6b222;
$dark-blue: #2d3da0;
$matterhorn: #f4f4f4;
$ivory: #eeeeee;
$subtext_color: #524e4a;
$text_color: #3e3935;
$main-font: STIXGeneral;
$second-font: Myriad Pro;
// $arch: #283480;
$arch: #f5113d;
$landscape: #e73843;
// $strategic: #fac82e;
$strategic: #faa901;
$projectMan: #f6b222;
$product: #52c9ee;
$urban: #3cb6e7;
$service: #4a5dc0;
$bblue: #000ec1;

$light-grey: #8a9cab;
