.hidden{
  display: none;
}
.page-template-page-templates *:focus {
  outline-color: white;
}

.page-template-page-templates .intro {
  text-align: center;
  background-color: #f7f7f7;
}
.page-template-page-templates .intro__thumbnail {
  padding-top: 30%;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-template-page-templates .intro__body {
  margin-top: 30px;
  text-align: center;
}
.page-template-page-templates .intro__title {
  font-family: STIXGeneral;
  color: #565656;
  font-weight: bold;
}
.page-template-page-templates .intro__title:after {
  content: '';
  border-top: 4px solid #565656;
  padding: 10px;
  display: block;
  width: 80px;
  margin: 0 auto;
}
.page-template-page-templates .intro__text {
  font-family: Myriad Pro;
  color: #565656;
  width: 666px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}
.page-template-page-templates .intro__values {
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-template-page-templates .value__title {
  margin-top: 20px;
  font-family: STIXGeneral;
  color: #565656;
  font-weight: bold;
}
.page-template-page-templates .value__title:after {
  content: '';
  border-top: 4px solid #565656;
  padding: 10px;
  display: block;
  width: 50px;
  margin: 0 auto;
}

.page-template-page-templates .value__icon {
  max-height: 70px;
}

.page-template-page-templates .value__text {
  font-family: Myriad Pro;
  color: #565656;
  width: 245px;
  display: inline-block;
}

.team {
  margin-top: 100px;
  text-align: center;
}
.team__title {
  font-family: STIXGeneral;
  color: #565656;
  font-weight: bold;
}
.team__title:after {
  content: '';
  border-top: 4px solid #565656;
  padding: 10px;
  display: block;
  width: 80px;
  margin: 0 auto;
}
.team__members {
  margin-top: 20px;
}

.member {
  padding: 0;
  position: relative;
  left: 0;
  -webkit-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
  z-index: 1;
}
.member:hover .member__tag {
  z-index: 1;
}
.member:hover .member__image {
  -webkit-filter: grayscale(0%);
}
.member__prev {
  font-size: 30px;
  color: #565656;
  position: absolute;
  left: -5%;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.member__next {
  font-size: 30px;
  color: #565656;
  position: absolute;
  right: -5%;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.member__image {
  padding-top: 120%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  z-index: 1;
  -webkit-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
  -webkit-transition: -webkit-filter 0.6s ease-in-out;
  transition: -webkit-filter 0.6s ease-in-out;
  transition: filter 0.6s ease-in-out;
  transition: filter 0.6s ease-in-out, -webkit-filter 0.6s ease-in-out;
  overflow: hidden;
}
.member__image--color {
  -webkit-filter: grayscale(0%);
  z-index: 6;
}
.member__info {
  background-color: #f7f7f7;
  color: #565656;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: z-index 1s ease-in-out;
  transition: z-index 1s ease-in-out;
  padding: 10px 30px 20px 30px;
}
.member__info--open {
  z-index: 3;
}
.member__bio {
  font-size: 14px;
  padding-bottom: 50px;
}
.member__tag {
  position: absolute;
  bottom: 0;
  font-family: STIXGeneral;
  font-weight: bold;
  color: white;
  text-align: left;
  z-index: -1;
  width: 100%;
  left: 20%;
  -webkit-transition: z-index 1s ease-in-out;
  transition: z-index 1s ease-in-out;
  display: inline-block;
  width: 70%;
  background: rgba(10, 10, 10, 0.44);
  padding-left: 10px;
  margin-bottom: 16px;
}
.member__tag--open {
  z-index: 1;
}
.member__name {
  margin-bottom: 0;
}
.member__title {
  margin-bottom: 0;
}
.member__channels {
  float: left;
  position: absolute;
  bottom: 15px;
}
.member__channels a {
  margin-right: 5px;
}
.member__channels .fa {
  font-size: 25px;
  color: #565656;
}

.activities {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  position: relative;
}
.activities__title {
  font-family: STIXGeneral;
  color: #565656;
  font-weight: bold;
}
.activities__title:after {
  content: '';
  border-top: 4px solid #565656;
  padding: 10px;
  display: block;
  width: 80px;
  margin: 0 auto;
}
.activities__thumbnail {
  padding-top: 75%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: none;
  background-size: contain;
}
.activities .activity__title {
  font-weight: bold;
  font-family: STIXGeneral;
}
.activities .activity__content {
  position: absolute;
  top: 32%;
  border-radius: 50%;
  width: 35%;
  height: 44%;
  left: 33%;
  padding-top: 2%;
  border: none;
}

.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  background-color: transparent;
}

.middle__title {
  font-family: STIXGeneral;
  font-weight: bold;
}
.middle__title:after {
  content: '';
  border-top: 4px solid black;
  left: -px;
  padding: 10px;
  display: block;
  width: 70px;
  margin: 0 auto;
}

.service {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  padding: 1px;
  overflow: hidden;
  right: 23.4%;
  top: 14.8%;
  width: 13.5%;
  height: 17.9%;
}
.service h6 {
  color: $light-grey;
  background-color: transparent;
  position: relative;
  font-size: 16px;
  margin-top: 89%;
  margin-left: -13%;
  width: 123%;
}
.service span {
  position: absolute;
  top: 0;
  display: block;
  padding: 1.25rem 1.5rem;
  font-size: 0.75rem;
  line-height: 1;
  color: #4a5dc0;
  border-radius: 50%;
  width: 93%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

.service svg {
  fill: $light-grey;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  width: 76%;
  height: 82%;
  top: 41%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.service--open {
  width: 15.8%;
  height: 20.7%;
  right: 22.3%;
  top: 13.4%;
  background-color: $strategic;
}
.service--open span {
  background-color: $strategic;
}
.service--open h6 {
  background-color: $strategic;
}
.service--open svg {
  fill: white;
  z-index: 1;
  background-color: $strategic;
  width: 85%;
  height: 100%;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.architecture {
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  left: 15.3%;
  top: 40.7%;
  width: 13.6%;
  height: 18.4%;
}
.architecture h6 {
  color: $arch;
  font-size: 16px;
  position: relative;
  margin-top: 70%;
  margin-left: -54%;
  width: 210%;
}
.architecture a {
  padding: 1.25rem 1.5rem;
  font-size: 0.75rem;
  color: $arch;
  display: block;
  line-height: 1;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.architecture svg {
  fill: $arch;
  width: 53%;
  position: absolute;
  top: 34%;
  left: 50%;
  background: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.architecture--open {
  background-color: $arch;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  width: 15.7%;
  height: 20.6%;
  left: 14.2%;
  top: 39.6%;
  h6 {
    display: none;
  }
}
.architecture--open svg {
  background: $arch;
  border: 10px solid $arch;
  width: 75%;
  height: 82%;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  fill: white;
}

.branding {
  position: absolute;
  right: 23.4%;
  bottom: 14.4%;
  width: 13.5%;
  height: 18%;
  text-align: center;
  border-radius: 50%;
}
.branding h6 {
  font-size: 15px;
  margin: 0;
  margin-top: 61%;
  position: relative;
}
.branding span {
  display: block;
  line-height: 1;
  color: $light-grey;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
}
.branding svg {
  fill: $light-grey;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 36%;
  left: 50%;
  height: 77%;
  width: 61%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.branding--open {
  background-color: $strategic;
  right: 22.3%;
  bottom: 13.2%;
  width: 15.7%;
  height: 20.5%;
}
.branding--open h6 {
  display: none;
}
.branding--open span {
  background-color: $strategic;
}
.branding--open svg {
  fill: white;
  background: $strategic;
  width: 85%;
  border: 10px solid $strategic;
  height: 102%;
  top: 52%;
  left: 50%;
}

.landscape {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 23.6%;
  bottom: 14.8%;
  width: 13.5%;
  height: 17.9%;
  text-align: center;
  border-radius: 50%;
  h6 {
    position: relative;
    font-size: 16px;
    margin-top: 67%;
    margin-left: -11%;
    width: 123%;
  }
}
.landscape span {
  display: block;
  line-height: 1;
  color: $light-grey;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
}

.landscape svg {
  fill: $light-grey;
  background: white;
  position: absolute;
  top: 38%;
  left: 50%;
  height: 87%;
  width: 67%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.landscape--open {
  left: 22.35%;
  bottom: 13.4%;
  width: 15.7%;
  height: 20.5%;
}
.landscape--open span {
  background-color: $arch;
  h6 {
    display: none;
  }
}
.landscape--open svg {
  fill: white;
  background: $arch;
  border-radius: 50%;
  border: 10px solid $arch;
  width: 88%;
  height: 101%;
  top: 48%;
}

.strategic {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  right: 15.25%;
  top: 41.2%;
  width: 13.5%;
  height: 17.9%;
}
.strategic a {
  display: block;
  line-height: 1;
  color: $urban !important;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
  h6 {
    font-size: 15.5px;
    position: relative;
    margin-top: 60%;
    margin-left: -12%;
    width: 123%;
  }
}
.strategic a:hover {
  background-color: transparent;
  color: $urban;
}
.strategic svg {
  fill: $strategic;
  background-color: white;
  width: 77%;
  height: 77%;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.strategic h6 {
  margin-top: 81px;
  color: $strategic;
}
.strategic--open {
  right: 14.1%;
  top: 39.7%;
  width: 15.8%;
  height: 20.8%
}
.strategic--open a {
  background-color: $strategic;
}
.strategic--open svg {
  fill: white;
  background: $strategic;
  border: 10px solid $strategic;
  width: 107%;
  height: 114%;
  top: 50%;
  left: 52%;
}
.strategic--open h6 {
  display: none;
}
.projectMan {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  padding: 19px;
  padding-top: 37px;
  right: 43.4%;
  top: 3.9%;
  width: 13.3%;
  height: 17.9%;
}
.projectMan a {
  display: block;
  padding: 1.25rem 1.5rem;
  font-size: 0.75rem;
  line-height: 1;
  color: $bblue;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.projectMan a:hover {
  background-color: transparent;
  color: $bblue;
}
.projectMan h6 {
  color: $bblue;
  font-size: 16px;
  position: relative;
  margin-top: 50%;
  margin-left: -44%;
  width: 204%;
}
.projectMan svg {
  border-radius: 50%;
  width: 60%;
  top: 33%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  fill: $bblue;
  position: absolute;
}
.projectMan--open {
  right: 42.2%;
  top: 2.2%;
  width: 15.8%;
  height: 21%;
  background-color: $bblue;
}

.projectMan--open a {
  background-color: $bblue;
  h6 {
    display: none;
  }
}
.projectMan--open svg {
  fill: white;
  background: $bblue;
  border: 10px solid $bblue;
  top: 49%;
  left: 50%;
  width: 95%;
  height: 88%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.product {
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: 43.3%;
  bottom: 3.5%;
  width: 13.6%;
  height: 18.1%;
}
.product span {
  display: block;
  line-height: 1;
  color: $light-grey;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
}
.product h6 {
  position: relative;
  font-size: 16px;
  margin-top: 67%;
  margin-left: -11%;
  width: 123%;
}
.product svg {
  fill: $light-grey;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 38%;
  left: 50%;
  height: 92%;
  width: 71%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.product--open {
  width: 15.6%;
  bottom: 2.2%;
  height: 20.7%;
  left: 42.2%;
}
.product--open span {
  background-color: $arch;
  h6 {
    display: none;
  }
}
.product--open svg {
  fill: white;
  background: $arch;
  border: 10px solid $arch;
  top: 49%;
  left: 51%;
  height: 108%;
  width: 98%;
}

.urban {
  position: absolute;
  width: 13.7%;
  height: 18.2%;
  top: 14.4%;
  left: 23.5%;
  text-align: center;
  border-radius: 50%;
}
.urban span {
  display: block;
  line-height: 1;
  color: $light-grey;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  background-color: white;
  // -webkit-transition: background-color 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.urban span h6 {
  position: relative;
  font-size: 16px;
  margin-top: 67%;
  margin-left: -11%;
  width: 123%;
}
.urban span h6:hover {
  color: $light-grey;
}
.urban svg {
  fill: $light-grey;
  background: white;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 78%;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.urban--open {
  left: 22.4%;
  top: 13.3%;
  width: 15.3%;
  height: 20.2%;
}
.urban--open span {
  background-color: $arch;
  width: 102%;
  // height: 102%;
  h6 {
    display: none;
  }
}
.urban--open svg {
  fill: white;
  background: $arch;
  border: 10px solid $arch;
  width: 95%;
  height: 106%;
  top: 46%;
  left: 50%;
    -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

#architecture_design {
  color: $arch;
}
#architecture_design .middle__title:after {
  border-top: 4px solid $arch;
}

#service_design {
  color: $urban;
}
#service_design .middle__title:after {
  border-top: 4px solid $urban;
}

#strategic_innovation {
  color: $strategic;
}
#strategic_innovation .middle__title:after {
  border-top: 4px solid $strategic;
}

#project___control_managment {
  color: $bblue;
}
#project___control_managment .middle__title:after {
  border-top: 4px solid $bblue;
}

#branding___visual_communication {
  color: $light-grey;
}
#branding___visual_communication .middle__title:after {
  border-top: 4px solid $light-grey;
}

#landscape_design {
  color: $light-grey;
}
#landscape_design .middle__title:after {
  border-top: 4px solid $light-grey;
}

#product_design {
  color: $light-grey;
}
#product_design .middle__title:after {
  border-top: 4px solid $light-grey;
}

#urban_design {
  color: $light-grey;
}
#urban_design .middle__title:after {
  border-top: 4px solid $light-grey;
}

@include breakpoint(medium down) {
  .intro {
    &__title {
      font-size: 35px;
    }
    &__text {
      max-width: 100%;
    }
  }
  .value {
    &:not(:first-child) {
      margin-top: 50px;
    }
    .value__title {
      font-size: 25px;
      &:after {
        margin-top: 10px;
      }
    }
  }
  .team {
    margin-top: 50px;
    box-shadow: 0 2px 6px rgba(136, 136, 136, 0.26);
    &__title {
      font-size: 35px;
    }
    &__members--mobile {
      .slick-arrow {
        // display: none!important;
      }
    }

    .member__prev {
      left: 5%;
      top: 25%;
      font-size: 25px;
    }
    .member__next {
      right: 5%;
      top: 25%;
      font-size: 25px;
    }
    .member--mobile {
      &__image {
        padding-top: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &__name {
        font-size: 25px;
        margin: 0;
      }
      &__title {
        font-size: 25px;
        margin: 0;
      }
      &__channels a {
        display: inline-block;
        margin-left: 15px;
        .fa {
          font-size: 25px;
        }
      }
    }
  }
  $smoke: rgba(138, 156, 171, 0.21);
  $turquoise: #8b0000;
  $green: #00d069;
  $dark-blue: #435b71;

  .activities--mobile {
    margin: 0 auto;
    margin-top: 50px;
    &__title {
      font-size: 35px;
    }
    .activities__list {
      .accordion-item {
        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: 1px solid $smoke;
        }
        text-align: left;
        border: none;
        border-top: 1px solid $smoke;
        .fa-angle-up {
          display: none;
        }
        .fa-angle-down {
          display: inline-block;
          position: absolute;
          right: 4%;
          top: 50%;
          transform: translateY(-50%);
          font-size: 33px;
          color: $turquoise;
        }
        &.is-active {
          .fa-angle-down {
            display: none;
          }
          .fa-angle-up {
            display: inline-block;
            position: absolute;
            right: 4%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 33px;
            color: $turquoise;
          }
        }
        .accordion-title {
          border: none;
          font-size: 20px;
          padding-right: 50px;
          color: $dark-blue;
          position: relative;
          display: flex;
          align-items: center;
          padding: 0;
          &:before {
            display: none;
          }
        }
        .accordion-content {
          color: $second-grey !important;
          border: none;
          line-height: 20px;
        }
        .svg_mobile {
          display: inline-block;
          border: 1px solid;
          border-radius: 50%;
          padding: 8px;
          margin:5px;
          svg{

          }
          &_sub{
            width: 100px;
            padding: 0;
            height: 100px;
            svg{
              padding: 13px;
            }
          }
        }
        .activity__title {
          display: inline-block;
          margin-left: 35px;
          font-size: 20px;
          &_sub{
            font-size: 18px;
          }
        }
        .service--mobile {
          color: $strategic;
          fill: $strategic;
          .fa {
            color: $strategic;
          }
        }
        .architecture--mobile {
          color: $arch;
          fill: $arch;
          .fa {
            color: $arch;
          }
          svg{
            width: 100px;
            padding: 10px;
          }
        }
        .branding--mobile {
          color: $strategic;
          fill: $strategic;
          .fa {
            color: $strategic;
          }
        }
        .landscape--mobile {
          color:$arch;
          fill:$arch;
          .fa {
            color:$arch;
          }
        }
        .strategic--mobile {
          color: $strategic;
          fill: $strategic;
          .fa {
            color: $strategic;
          }
        }
        .projectMan--mobile {
          color: $bblue;
          fill: $bblue;
          .fa {
            color: $bblue;
          }
        }
        .product--mobile {
          color:$arch;
          fill:$arch;
          .fa {
            color:$arch;
          }
        }
        .urban--mobile {
          color:$arch;
          fill:$arch;
          .fa {
            color:$arch;
          }
        }
      }
    }
  }
  .sub-activities{
    list-style: none;
  }
  .sub-activity{
    margin: 8px 0;
    display: flex;
    align-items:center;
    border-bottom:1px solid #e6e6e6;
    &:last-child{
      border:none;
    }
  }
}
