body{
	overflow-x:hidden;
}
@keyframes bounce {
  0% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}
.container{
	overflow:hidden;
}
.topSlider{
	// margin-top:123px;

	&__image{
		padding-top:10%;
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center;
	    text-align: center;
	    position:relative;
		// height: 100vh;
	}
	.slick-arrow{
		position: absolute;
	    color: white;
	    z-index: 1;
	    top:0;
	    bottom:0;
	    opacity: 0.5;
	    height: 10px;
	    margin:auto;
	    .fa{
	    	color: white;
		    font-size: 50px;
		    margin: 0 50px;    	
	    }
	}
	.slick-next{
		right: 0;
	}
}
.scroll_down{
		position: absolute;
	    width: 100%;
	    z-index: 2;
	    height: 10px;
	    margin:auto;
	    color:white;
	    font-size:25px;
	    text-align: center;
	    bottom: 150px;
	    font-family: $main-font;
	    font-style: italic;
	    font-weight: bold;
	    &--sections{
	    	bottom:-70px;
    	    font-size: 20px;
		    font-weight: 700;
	    }
	    &:focus{
	    	outline: none;
	    }
	    span:focus{
	    	outline: none;
	    }
	    a{
	    	color:white;
	    	&:focus{
		    	outline: none;
		    }
	    }
    	.arrow_down__left,.arrow_down__right{
			position:absolute;
	        top:0px;
		    font-style: normal;
		    animation: bounce 0.6s ease-out infinite alternate;
		    a{
		    	color:white;
		    }
		}
		.arrow_down{
		    &__left{
		    	left:42%;
		    }
		    &__right{
		    	left:57%;
		    }
		}
	}
.section{
	background-repeat:no-repeat;
	    height: calc(100vh - 123px);
	background-size:cover;
	position:relative;
	text-align:center;
	color:white;
	font-family:$main-font;
	font-weight: 700;
    margin-top: -1px;
    &:last-child{
	    margin-bottom: -13px;
    }
	&__text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
  	}
	&__title{
	    font-size: 133px;	   
	}
	&__subtitle{
		font-size: 35px;
		font-style: italic;	
	}
}
@media screen and (max-width: 39.9375em) {
.scroll_down{
		position: absolute;
	    width: 100%;
	    z-index: 2;
	    height: 10px;
	    margin:auto;
	    color:white;
	    font-size:25px;
	    text-align: center;
	    bottom: 55px;
	    font-family: $main-font;
	    font-style: italic;
	    &--sections{
	    	bottom:-70px;
    	    font-size: 20px;
		    font-weight: 700;
	    }
	    &:focus{
	    	outline: none;
	    }
	    span:focus{
	    	outline: none;
	    }
	    a{
	    	color:white;
	    	&:focus{
		    	outline: none;
		    }
	    }
    	.arrow_down__left,.arrow_down__right{
			position:absolute;
	        top:0px;
		    font-style: normal;
		    animation: bounce 0.6s ease-out infinite alternate;
		    a{
		    	color:white;
		    }
		}
		.arrow_down{
		    &__left{
		    	left:33%;
		    }
		    &__right{
		    	left:65%;
		    }
		}
	}

	.section{
		background-repeat:no-repeat;
	    height: calc(100vh - 123px);
		background-size:cover;
		position:relative;
		text-align:center;
		color:white;
		font-family:$main-font;
		font-weight: 700;
	    margin-top: -1px;
	    &:last-child{
		    margin-bottom: -13px;
	    }
		&__text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
	  	}
		&__title{
		    font-size: 85px;
		    margin-top: -65px;	   
		}
		&__subtitle{
			font-size: 35px;
			font-style: italic;
			margin: 0 20px;
		}
	}
}
@include breakpoint(medium down){
    .topSlider {
	    // margin-top: 113px;
	}
	.section{
		&__title{
			font-size: 73px;
		}
		&__subtitle{
			font-size: 27px;
		}
	}
}