
.office{
	padding-bottom:10%;
	&__front{
		position:absolute;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left:0;
		transition: opacity 0.3s ease-in-out;
	    &:hover{
		    opacity: 0;
	    }
	}
	&__back{
		padding-top: 29%;
		position:relative;
	    text-align: center;
	    margin: auto 38px;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin-bottom: 15px;
  	}
	&__title{
	    font-size: 50px;
	    color: white;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    font-weight: 700;
	    transform: translate(-50%,-50%);
	    font-family: $main-font;
	    font-style: italic;
	    border-bottom: 2px solid white;
		transition: transform 0.3s linear;
		transition: font-size 0.3s ease-in-out;
		&--back{ 
		    font-size: 40px;
		    transform: translate(-50%,-90%);		    
		}
	}
	&__info{
		display: block;
		height: 100%;
		position:absolute;
		top: 0;
		left:0;
		width: 100%;
	}
	&__address{
		display: block;
		color: white;
		position: absolute;
	    top: 63%;
	    left: 50%;
	    font-weight: 700;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translate(-50%,-50%);
	    font-family: $main-font;
	    font-style: italic;
	    width: 290px;
	    font-size:25px;
	}
	&__email{
		display: block;
		color: white;
		position: absolute;
	    top: 78%;
	    left: 50%;
	    font-weight: 700;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translate(-50%,-50%);
	    font-family: $main-font;
	    font-style: italic;
	    width: 290px;
	    font-size:25px;
	}
}
.hidden{
	opacity:0;
}
.form{
	text-align:center;
	margin-bottom: 50px;
	max-width: 1120px;
    margin: 0 auto;
	// padding:0 102px;
	&__title{
		color:$second-grey;
		font-family:$main-font;
		display:inline-block;
		position:relative;
		margin-bottom: 30px;
		&:after{
			border-bottom:5px solid $second-grey;
			position: absolute;
		    content: '';
		    bottom: -8px;
		    left: 33%;
		    width: 70px;
		    height: 1px;
		}
	}
}
#gform_fields_1{
	position:relative;
	li.gfield{
	    width: 45%;
	    position:relative;
        // padding-left: 30px;
	}
	.gfield_label{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: calc(100-50%)px;
	    margin: 0;
	    transform: translateY(-50%);
	    z-index: 10;
	   	&:before{
	    	position:absolute;
	    	content: '';
			top: 0;
			left: 0;
			border: 4px solid $dark-blue;
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
		    // width: 219px;
		    width: 250px;
		    height: 106px;
		    // margin-right: -219px;
		    margin-right: -250px;
		    margin-top: -53px;
		    border-left:none;
	    }
	    &:after{
	    	position:absolute;
	    	content: '';
			top: 0;
			left: 0;
			border: 4px solid $dark-blue;
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
		    // width: 219px;
		    width: 250px;
		    height: 106px;
		    // margin-left: -219px;
		    margin-left: -250px;
		    margin-top: -53px;
		    border-right:none;
	    }
	}
	.gfield_required{
		display: none;
	}
	.ginput_container>input{
	    height: 100px;
	    padding: 0;
	    margin: 0;
	    width: 100%;
	    border: none;
	    box-shadow: none;
	    &:focus{
		 	outline: none;
		}
	}

	.move{
		&:before{
			transform:translateX(15%);
		}
		&:after{
			transform:translateX(-15%);
		}
	}
}

#gform_1{
	.gform_footer{
		text-align:center;
		#gform_submit_button_1{
		    width: 100%;
		    font-family: $main-font;
		    background-color:$dark-blue;
		    color:white;
	        font-size: 25px;
		    padding: 15px;
		    margin-top: 50px;
		}
	}
}
.move--box{
	&:before{
		transform:translateX(7%);
	}
	&:after{
		transform:translateX(-7%);
	}
}
#field_1_6,#field_1_4{
	display:inline-block;
}
#field_1_4{
	float: right;
}
#gform_wrapper_1{
	max-width:unset;
	margin:0;
}

#gform_fields_1 #field_1_5{
	width:100%;
    margin-top: 50px;
	textarea{
		border: none;
		box-shadow: none;
	}
	.gfield_label{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: calc(100-50%)px;
	    margin: 0;
	    transform: translateY(-50%);
	    z-index: 10;
	   	&:before{
	    	position:absolute;
	    	content: '';
			top: 0;
			left: 0;
			border: 4px solid $dark-blue;
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
		    width: 560px;
		    height: 274px;
		    margin-right: -560px;
		    margin-top: -137px;
		    border-left:none;
	    }
	    &:after{
	    	position:absolute;
	    	content: '';
			top: 0;
			left: 0;
			border: 4px solid $dark-blue;
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
		    width: 560px;
		    height: 274px;
		    margin-left: -560px;
		    margin-top: -137px;
		    border-right:none;
	    }
	}
}
.placeholder{
	color:$dark-blue;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:transform 0.2s ease-in-out;
    &--movedown{
	    -webkit-transform: translate(-50%, 150%);
	    -ms-transform: translate(-50%, 150%);
	    transform: translate(-50%, 150%);
	    background-color: white;
	    z-index: 50;
	    padding: 0 5px;
    }
    &--movedown_textarea{
		-webkit-transform: translate(-50%, 484%);
	    -ms-transform: translate(-50%, 484%);
	    transform: translate(-50%, 484%);
	    background-color: white;
	    z-index: 50;
	    padding: 0 5px;
    }
}
@include breakpoint(medium down){
	.office--mobile{
		&__front{
			background-position: center;
			background-repeat: no-repeat;
		    background-size: cover;
		    padding: 0 10px;
		    padding-top:23%;
		    margin-bottom: 50px;
		    @include clearfix;
		}
		&__info{
			display: block;
			border-left:2px solid white;
			color:white;
			margin-top: -18%;
		    padding: 0 20px;
			font-family: $main-font;
			font-weight: bold;
		}
		&__title{
			color:white;
			margin-top: -18%;
			float: left;
			font-size: 35px;
			font-family: $main-font;
			font-weight: bold;
		}
		&__container{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	.gform_wrapper {
		max-width: 100%!important;
		form{
			text-align: center!important;
		    margin: 0 15px;
		}
	}
	.form{
		&__title{
		    font-size: 35px;
		}		
	}
	#gform_fields_1 {
		padding:0;
		li.gfield{
			width:100%;
			// padding-left:0;
			display: block;
			border: 4px solid $dark-blue;
			margin-top:30px;
		}
	.gfield_label:before {display:none;}
	.gfield_label:after {display:none;}
	}
	.placeholder{
		display: none;
	}
	.ginput_container{
		margin:0!important; 
	}
	#gform_fields_1 #field_1_5 textarea {margin:0; padding-top:10px;}
	#field_1_4 {margin-bottom:30px;}
	.placeholder--mobile{
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color:$dark-blue;
	}
	#gform_1 .gform_footer #gform_submit_button_1 {
		width:100%;
	}
	#field_1_6{
		margin-top: 0!important;
	}
	.gform_heading{
		margin:0;
	}
}
