.single-article ,.single-news,.page-template-page-timeline, .post-type-archive-project, .page-template-page-whoWeAre {
	.container{
		// margin-top:123px;
		max-width: 1280px;
		margin: 123px auto 0 auto;
		padding: 0 80px;
	    margin-bottom: 50px;
	    @include breakpoint(medium down){
			margin-top:113px;
			padding:0px;
	    };
	}
}
#single-post{
	margin-top: 123px;
}
.bg_image{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 50% 20px 10px 20px;
    text-align: center;
    color: white;
    background-position:center;
	h1{
		position: absolute;
		font-family: $main-font;
		font-weight: bold;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 100%;
	    &:after{
		    content: '';
		    border-top: 4px solid white;
		    position: relative;
		    padding: 10px;
		    display: block;
		    width: 100px;
		    margin: 0 auto;
		}
	}
	.dimmed{
	    position: absolute;
	    opacity: 0.5;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
    }
    .pattern{
	    position: absolute;
	    opacity: 0.3;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
    }
}
#single-post .main-content{
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    @include clearfix;
    .entry-content{
    	font-family: $second-font;
    	font-size: 18px;
	    padding: 40px 30px 50px 30px;
	    background-color: $matterhorn;
	    margin-bottom: 50px;
	    color:$text_color;
    }
}
.subArticle{
	position:relative;
	&__text{
	    padding: 25px 40px;
	    background-color:$ivory;
	    border-left: 20px solid $matterhorn;
	    color:$subtext_color;
	}
	&__icon{
	    position:absolute;
	    width: 100%;
	    z-index: 1;
	
	//     margin-bottom: 10px;
	// 	max-width: 147px;
	// 	max-height: 147px;
	}
	li{
		position:relative;
	}
}


// #single-post .main-content .entry-content {
// 	.row.subArticle.collapse#single__subArticle{
// 		max-width: 75rem !important;
// 	}
// }

.single-article{
	.tabs{
		background-color:$matterhorn;
	    border: 1px solid transparent;
	}
	.tabs-title{
		margin-bottom: 10px;
		a{
		    margin: 0 auto;
		    padding: 0;
		    position:relative;
		    max-width: 100%;
		    &:hover{
		    	background-color:#ebebeb;
		    }
		}
		svg{
		    fill: $dark-grey;
		    margin: 20px;
		}
		&.is-active{
			svg{
			    fill: #1e8aa2;
			    background: #ebebeb;
			    margin: 20px;
			}
		}
	}
	.tabs-panel{
	    background-color:$ivory;
	    color:$subtext_color;
	}
	.tabs-content{
	    border: 1px solid $ivory;
	}
}


.triangle {
	a{
	    max-width: 100%;
	    // margin: 0 auto;
	}
	&:after{
	    content: '';
	    position: absolute;
	    width: 0;
	    top: 50%;
	    left: 100%;
	    height: 0;
	    border-top: 20px solid transparent;
	    border-bottom: 20px solid transparent;
	    border-left: 20px solid #ebebeb;
	    translateY: 51%;
	    transform: translateY(-50%);
	}
}
.triangle>a {
    background-color: #ebebeb !important;
}
.morePost{
	display:flex;
	font-family:$main-font;
	color:$second-grey;
    margin: 10px 0;
	padding:0;
	&__image{
	    position: relative;
	    overflow: hidden;
	    max-width: 39%;
		width: 100%;
		padding-top: 30%;
		height: auto;
	    img{
    	    position: absolute;
		    height: 100%;
		    left: 0;
		    top: 0;
		    max-width: none;
	    }
	}
	&__title{
	    font-weight: 600;
		font-family:$main-font;
		color:$second-grey;
		margin-bottom: 30px;
	}
	&__text{
		background-color:$matterhorn;
		    margin: 0;
		    margin-right: 13px;
		    padding: 20px;
	}
	&__excerpt{
		font-family:$second-font;
	}
	&:nth-child(odd){
	    background-color:$matterhorn;
    }
    &:nth-child(even){
	    background-color:white;
    }
    &:last-child{
    	background-color:$matterhorn;
    	margin-bottom: 50px; 
    	float:left!important;
    }
	.moretag{
	    color: $second-grey;
	    display: block;
	    margin-top:10px;
	    background-color: transparent;
	    font-family: $main-font;
	    font-size:20px;
	    font-weight: 600;
        position: relative;
	    padding-top: 20px;
	    padding-left: 15px;
	    &:before{
	    	content: '';
		    width: 5px;
		    background-color:$second-grey;
		    transition: width 0.3s ease-in-out;
		    position: relative;
		    padding-left: 7px;
		    display: inline-block;
		    height: 40px;
		    top: 17px;
		    position: absolute;
		    left: 0px;
	    }
	    span{
	    	color:$second-grey;
	    	transition: color 0.3s ease-in-out;
	    }
	    &:hover{
	    	&:before{
		    	width: 122px;
	    	}
	    	span{
	    		position:relative;
				color:white;
	    	}
	    }
	}
}
.postsContainer{
	margin-top:50px;
	&__title{
		text-align: center;
		font-family:$main-font;
		color: $dark-grey;
	    font-weight: 600;
	    margin-bottom: 10px;
	}
}
.verge{
	text-align:center;
}
@include breakpoint(medium down){
	.entry-content{
		text-align:center;
		padding:10px!important;
	    margin-bottom: 0px!important;
	}
	.subArticle__text{
		border-left:none;
	}
	.single-article .tabs li{
		float: left;
		width: 30%;
		&:after{
			display: none;
		}
	}
	.postsContainer {
	    margin-top: 0px;
	}
	#single-post {
		margin-top: 0;
	}

}

