.clone {
	@include clearfix;
	// margin-bottom:66px;
	// width: 1120px;
	overflow: hidden;

	&__tabs {
		list-style: none;
		background-color: white;
		margin-left: 0;
		overflow: hidden;
	}
	&__tab {
		float: left;
		&:after {
			background-color: transparent;
		}
		// &:hover:after{
		// 	background-color: #2f3fa1 !important;
		// }
		a {
			display: block;
			padding: 12px;
		}
		&--active {
			a {
				background-color: #2f3fa1 !important;
			}
			&:hover:after {
				background-color: #2f3fa1 !important;
			}
		}
	}
}
#single-post .main-content .entry-content {
	width: 100% !important;
	div {
		// width:100%!important;
		margin: 0 auto;
	}
}
// .slick-slider {
//     max-height: 600px;
//     overflow: hidden;
// }
.single-project {
	.container {
		max-width: 1120px;
		margin: 0 auto;
		margin-top: 0 !important;
		@include breakpoint (medium down) {
			width: auto;
		}
	}
}
.projectSlider {
	// margin-top: 113px;
	margin-top: 50px;

	&__image {
		padding-top: 45%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		text-align: center;
		position: relative;
		background-color: white;
	}
	.slick-arrow {
		position: absolute;
		color: black;
		z-index: 1;
		top: 0;
		bottom: 0;
		opacity: 0.5;
		// height: 10px;
		margin: auto;
		.fa {
			color: grey;
			font-size: 50px;
			margin: 0 50px;
		}
	}
	.slick-next {
		right: 0;
	}
}
@include breakpoint (medium down) {
	.projectSlider {
		&__image {
			padding-top: 100%;
		}
	}
}
.video {
	padding-top: 0;
}
