.partners {
  text-align: center;
  border-right: 2px solid white;
  &__title {
    margin-top: 50px;
    color: $dark-grey;
    position: relative;
    font-weight: 800;
    font-family: $main-font;
    &:after {
      content: '';
      border-top: 4px solid $dark-grey;
      left: -265px;
      padding: 10px;
      display: block;
      width: 100px;
      margin: 0 auto;
    }
  }
  &__slider {
    margin-top: 50px;
    div {
      width: 100%;
    }
  }
  &__slide {
    padding-top: 47%;
    background-repeat: no-repeat;
    background-size: contain;
    border-right: 1px solid $dark-grey;
    background-position: center;
    &-last {
      border: none;
    }
  }
}

.timeline {
  overflow: hidden;
  // max-width: 1120px;
  margin: 0 auto;
}
.timeline__panels {
  border: none;
}
.timeline__panel {
  padding: 0;
}
.timeline__title {
  margin-top: 100px;
}
.timeline__tabs {
  position: relative;
  // z-index: 100;
  border: none;
  padding: 0;
  // max-width: 1120px;
  max-width: 100%;
  overflow: hidden;
}
.timeline__tab {
  position: relative;
  width: 14.28%;
  // width: 159.7px;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: padding-top 0.2s ease-in-out;
  transition: padding-top 0.2s ease-in-out;
}
.timeline__tab:after {
  content: '';
  background: transparent;
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
}
.timeline__tab:hover {
  padding-top: 0px;
}
.timeline__tab:hover:after {
  // max-width: 1120px;
}
.timeline__tab.is-active a {
  background-color: #2f3fa1 !important;
}
.timeline__tab.is-active:hover:after {
  background-color: #2f3fa1 !important;
}
.timeline__tab a {
  font-size: 100%;
  padding: 20px 20px;
  // font-size: 20px;
  font-family: STIXGeneral;
  background-color: blue;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: grey;
}
.timeline__tab a[aria-selected='true'] {
  background-color: #2f3fa1;
}
.timeline__tab a:hover {
  background-color: #2f3fa1;
}
.timeline__tab a.colored {
  background-color: #2f3fa1;
}
.timeline__tab:nth-child(1) {
  z-index: 7;
}
.timeline__tab:nth-child(1) a {
  background-color: #2c2c2c;
  color: white;
}
.timeline__tab:hover:after {
  background-color: #2c2c2c;
}
.timeline__tab:nth-child(2) {
  z-index: 6;
}
.timeline__tab:nth-child(2) a {
  background-color: #3e3935;
  color: white;
}
.timeline__tab:nth-child(2):hover:after {
  background-color: #3e3935;
}
.timeline__tab:nth-child(3) {
  z-index: 5;
}
.timeline__tab:nth-child(3) a {
  background-color: #5f5c5a;
  color: white;
}
.timeline__tab:nth-child(3):hover:after {
  background-color: #5f5c5a;
}
.timeline__tab:nth-child(4) {
  z-index: 4;
}
.timeline__tab:nth-child(4) a {
  background-color: #7c7b7b;
  color: white;
}
.timeline__tab:nth-child(4):hover:after {
  background-color: #7c7b7b;
}
.timeline__tab:nth-child(5) {
  z-index: 3;
}
.timeline__tab:nth-child(5) a {
  background-color: #939392;
  color: white;
}
.timeline__tab:nth-child(5):hover:after {
  background-color: #939392;
}
.timeline__tab:nth-child(6) {
  z-index: 2;
}
.timeline__tab:nth-child(6) a {
  background-color: #afafae;
  color: white;
}
.timeline__tab:nth-child(6):hover:after {
  background-color: #afafae;
}
.timeline__tab:nth-child(7) {
  z-index: 1;
  // width: 161.5px;
  // width: 13.48%;
}
.timeline__tab:nth-child(7) a {
  background-color: #c6c6c6;
  color: white;
}
.timeline__tab:nth-child(7):hover:after {
  background-color: #c6c6c6;
}
.timeline .gallery {
  margin-top: 50px;
}
.timeline .gallery__item {
  padding: 0;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
}
.timeline .gallery__item:hover .caption__body {
  opacity: 1;
}
.timeline .gallery__item:hover .caption__more {
  opacity: 1;
}
.timeline .gallery__item:hover .caption__more:before {
  opacity: 1;
}
.timeline .gallery__item:hover .caption__title {
  margin-top: 5%;
}
.timeline .gallery__image {
  padding-top: 98.6%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.timeline .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.timeline .caption::before,
.timeline .caption::after {
  display: table;
  content: ' ';
}
.timeline .caption::after {
  clear: both;
}
.timeline .caption__dimmed {
  background-color: rgba(0, 0, 0, 0.43);
  position: absolute;
  padding: 100%;
  margin-top: -110px;
  margin-left: -25px;
  z-index: -1;
}
.timeline .caption__title {
  font-family: STIXGeneral;
  font-weight: bold;
  margin-top: 77%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: margin-top 0.2s ease-in-out;
  transition: margin-top 0.2s ease-in-out;
}
.timeline .caption__title:after {
  content: '';
  border-top: 2px solid white;
  position: relative;
  padding: 10px;
  display: block;
  width: 50px;
  margin: 0 auto;
  top: 10px;
}
.timeline .caption__body {
  text-align: left;
  margin-top: -30px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  padding: 0 25px;
}
.timeline .caption__more {
  opacity: 0;
  color: white;
  font-family: STIXGeneral;
  font-weight: bold;
  position: relative;
  padding-top: 15px;
  float: left;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.timeline .caption__more:before {
  display: none;
  content: '';
  width: 0;
  background-color: white;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  position: relative;
  padding-left: 3px;
  display: inline-block;
  height: 30px;
  top: 12px;
  position: absolute;
  left: 25px;
}
.timeline .caption__more:hover {
  display: block;
}
.timeline .caption__more:hover:before {
  display: block;
}
.timeline .caption__more span {
  color: white;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  padding-left: 50px;
}
.timeline .caption__more:hover:before {
  width: 122px;
}
.timeline .caption__more:hover span {
  position: relative;
  color: black;
}
// @media screen and (min-width:1024px) and (max-width: 1px){
//   .timeline__tab{
//     width: 131px;
//     a{
//       font-size: 16px;
//     }
//   }
// }
@include breakpoint(medium down) {
  .timeline {
    &__menu {
      list-style: none;
      background-color: white;
      margin: 0;
      text-align: center;
      padding: 10px;
      font-family: $main-font;
      li > a {
        background-color: white;
        color: grey;
        border-bottom: 1px solid rgba(128, 128, 128, 0.15);
        // padding: 10px;
        font-size: 35px;
        display: block;
      }
    }
    &__items {
      list-style: none;
      width: 100vw;
      margin: 0;
      margin-left: -10px;
      // margin-top: 10px;
    }
    &__item {
      border-bottom: 1px solid grey;
    }
    &__panel {
      text-align: center;
      h1 {
        margin-top: 20px;
        font-size: 35px;
      }
      p {
        padding: 0 20px;
      }
    }
    #-label {
      margin: 0;
      padding: 0;
    }
    a.tPanel {
      padding: 15px !important;
      color: white;
      font-size: 100%;
      // font-size: 20px;
      &[data-target="#tab_1"] {
        background-color: #2c2c2c;
      }
      &[data-target="#tab_2"] {
        background-color: #3e3935;
      }
      &[data-target="#tab_3"] {
        background-color: #5f5c5a;
      }
      &[data-target="#tab_4"] {
        background-color: #7c7b7b;
      }
      &[data-target="#tab_5"] {
        background-color: #939392;
      }
      &[data-target="#tab_6"] {
        background-color: #afafae;
      }
      &[data-target="#tab_7"] {
        background-color: #c6c6c6;
      }
      &:hover {
        background-color: #2f3fa1;
      }
    }
  }
  .caption {
    &__body {
      display: none;
    }
    &__dimmed {
      display: none;
    }
    &__title {
      transform: none;
      -webkit-transition: none;
      margin-top: 5%;
    }
    &__more {
      display: none;
    }
  }
  .timeline .caption__title {
    margin-top: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    // color: black;
  }
  .partners__slide {
    border: none;
  }
  // .timeline .gallery__item:hover .caption__title {
  //     margin-top: 0;
  // }
}
