@-webkit-keyframes rotation {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}
/* Standard syntax */
@keyframes rotation {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}
.panorama{
	padding-top:30%;
	// padding: 30% 292px 0 292px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-position: 0%;
	transition: background-position .8s ease-in-out;
	&__title{
		color:white;
		position: relative;
		margin-bottom: 40px;
		margin-top: 20px;
		margin:0;
	    left: 23%;
	    font-weight: 800;
	    font-family: $main-font;
	    &:after{
		    content: '';
		    border-top: 4px solid white;
		    position: relative;
		    left: -265px;
		    padding: 10px;
		    display: block;
		    width: 100px;
		    margin: 0 auto;
	    }
	}
	&__overlay{
        margin-top: -287px;
        padding-top: 25px;
	    padding-bottom: 100px;
	    position: relative;
	    height: 500px;
		@include clearfix;
		&:before{
		    content: '';
		    position: absolute;
		    left: 1.5%;
		    padding: 10px;
		    display: block;
		    width: 97%;
		    margin: 0 auto;
		    height: 80%;
		    background-color: rgba(16, 16, 16, 0.38);
		}

	}
	&__text{
	max-width: 80%;
    margin: 0 auto;
    margin-top: 220px;
    font-family: Myriad Pro;
    color: white;
    position:relative;
    text-align: center;


	}
	&__text div{
		display: none;
	}
	&__logo{
		position: relative;
		opacity: 0.5;
		margin:0;
		float: left;
	    width: 20%;
	    top:30px;
	    left: 32px;
	 //    &:after{
		// 	position: absolute;
		//     content: '';
		//     width: 70px;
		//     height: 5px;
		//     background-color: white;
		//     margin-right: -219px;
		//     margin-top: -53px;
		//     border-left: none;
		//     transform: translate3d(158px,33px,0px);
		// }
	    &:last-child:after{
			position: absolute;
		    content: '';
		    width: 0;
		    height: 0;
		}
	}
	.sec{
		display: inline-block;
	}
}
.logo{
	&__circle{
	    position: absolute;
	    transition: transform 1s ease-in-out;
	    transform: rotateZ(0deg);
	}
	&__item{
	    width: 50px;
	    transform: translate3d(54px,40px,0px);
	}
	&__caption{
		color:white;
	    font-size: 20px;
	    font-weight: 600;
	    transform: translate3d(50px, 44px, 0px);
	}
	&--shine{
		opacity:1!important;
	}
	&--rotate{
		-webkit-animation-name: rotation; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
		-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
		animation-name: rotation;
		animation-duration: 1s;
		animation-iteration-count: 1;
	}
}

.page-template-page-ourProcess{
	.container{
		margin-top:123px;
		padding: 0 80px;
	}
	.posts{
		max-width: 1120px;
		margin:0 auto;
	}
	.big{
		max-width: 1120px;
		margin:0 auto;
	}
	.button__prev{
			position:absolute;
			z-index:150;
			left:0;
			top:0;
			left: 10%;
			width: 50px;
			height: 20px;
			top: 400px;
		}
	.button__next{
		position:absolute;
		z-index:150;
		left:0;
		top:0;
	    left: 20%;
	    width: 50px;
	    height: 20px;
	    top: 400px;
	}
	.morePost{
		&:nth-child(odd){
		    background-color:$matterhorn;
	    }
	    &:nth-child(even){
		    background-color:white;
	    }
		&.large-12{
		    img{
			    width: 100%;
			    max-height: 200%;
				height: auto;
		    }
	    }
	  //   &__image{
			// max-width: 39%;
			// width: 100%;
			// padding-top: 30%;
			// height: auto;
	  //   }
	}
    .full_post{
    	.morePost{
    		&__text{
    	    	margin:0;
    	    }
	    }
	    .row{
	    	margin:0;
	    	max-width: 100%;
	    }
	}
	.full_post .morePost__image{
		max-width: 50%;
		img{
			max-width: 100%;
			width: auto;
			height: 100%;
	    }
	}
}

#logo{
	&__0{
		opacity: 0.5;
	}
	&__1,&__2,&__3,&__4{
		opacity: 0.5;
	}
}
@include breakpoint(medium only){
	.logo--mobile{
		position: relative;
		margin-top: 6%;
	}
	.panorama__text {
	    margin-top: 25%;
	}
}
@include breakpoint(small only){
	.logo--mobile{
		position: relative;
		margin-top: 33%;
	}
	.panorama__text {
	    margin-top: 45%;
	}
}
@include breakpoint(medium down){
	.container {
		padding:0!important;
	}
	.panorama{
		&__overlay {
		    height: 100vh;
		    margin:0;
		    padding:0;
		    margin-top: -30%;
		    &:before{
		    	width: 100%;
	    	    height: 100%;
		    	left:0;
		    }
		}
		&__title{
			left:0;
			padding-top:10%;
			text-align:center;
			&:after{
				display: none;
			}
		}
		&--mobile{
			padding-top:30%;
			background-repeat:none;
			background-position:center;
			background-size:cover;
		}
		&__slide{
			&:focus{
				outline:transparent;
			}
		}
		&__slider{
			height: 100vh;
			text-align: center;
			color:white;
			&:focus{
				outline:transparent;
			}
			.slick-prev{
				position: absolute;
				top: 50%;
				left:1%;
				transform: translateY(-50%);
			.fa-angle-left:before{color:white;}
			}
			.slick-next{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 1%;
			.fa-angle-right:before{color:white;}
			}
		}
	}
	.logo{
		&__circle{
			max-width: 120px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)
		}
		&__item{
		    max-width: 45px;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		}
		&__caption{
			    // transform: translate(0,0);
		    transform: none;
		    padding-top: 10%;
		    position: relative;
		    bottom: -100px;
		}
	}
	.slick{
		&-track{
			&:focus{
				outline:transparent;
			}
		}
		&-dots {
			width: 100%;
			// bottom: 25px;
			// height: 11px;
			display: block;
			position: absolute;
		    text-align: center;
		    margin:0;
		    // right: 20%;
		}
		&-dots li{
			top: -5px;
			width: 11px;
			height: 11px;
			margin: 0 4px;
			position: relative;
			border-radius: 100%;
			display: inline-block;
			background-color: white;
			border:1px solid grey;
			&.slick-active{
				background-color: grey;
			}
			&:focus{
				outline:transparent;
			}
		}
		&-dots li:hover {
			cursor: pointer;
			background-color: black;
		}
		&-dots li button {
			display:none;
		}
	}
	.full_post .morePost__image{
		img{
			max-width: 100%;
			width: 100%!important;
	    }
	}
	.morePost{
		height: auto!important;
		.row{
			@include clearfix;
		}		
		&__image{
			padding-top:50%!important;
			height: auto!important;
			width: 100%;
			max-width: 100%!important;
			img{
				width: 100%;
				height: auto!important;
			}
		}
		&__text{
			padding-left: 50px!important;
			margin-right: 0!important;
			height: auto!important;
		}
	}
}



