.button{
	    border: 1px solid white;
	    padding: 7px;
	    background-color: transparent;
	    font-family: $main-font;
	&__blue{
	    color: $dark-blue;
	    background-color: transparent;
	    border: 1px solid $dark-blue;
	    font-size: 22px;
	    font-family: $main-font;
	    font-weight: 600;
	    padding: 25px 60px;
	    margin-bottom: 70px;
	    &:hover,&:focus{
	    	background-color:$dark-blue;
	    	color:white;
	    	outline: 0;
	    	border:1px solid $dark-blue;
	    }

	}
}
